{% extends "WebBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class=" col-xs-12 col-md-10 col-md-push-2" style="margin-top:-100px;">
            <img src="{{ asset('assets/images/xs_visible.png') }}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-push-1 col-xs-12" style="margin-top:-122px;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">BUSQUEDA GENERAL</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                                    <option value="">País</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                                    <option value="">Ciudad</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                                    <option value="">Escuela</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                                    <option value="">Curso</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nombre" placeholder="Descripción">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive" style="margin-top:20px; margin-bottom:50px;">
            <div class="col-md-10 col-md-push-1">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>País</th>
                        <th>Ciudad</th>
                        <th>Escuela</th>
                        <th>Curso/ Descripción</th>
                        <th>Ver</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Mark</td>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Otto</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td><a href="#"><input type="button" value="Ver más" class="btn btn-primary btn-xs center-block" /></a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Mark</td>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Otto</td>
                        <td>@TwBootstrap</td>
                        <td>Otto</td>
                        <td><a href="#"><input type="button" value="Ver más" class="btn btn-primary btn-xs center-block" /></a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Jacob</td>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        <td><a href="#"><input type="button" value="Ver más" class="btn btn-primary btn-xs center-block" /></a></td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Jacob</td>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        <td><a href="#"><input type="button" value="Ver más" class="btn btn-primary btn-xs center-block" /></a></td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Jacob</td>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        <td><a href="#"><input type="button" value="Ver más" class="btn btn-primary btn-xs center-block" /></a></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Jacob</td>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        <td><a href="#"><input type="button" value="Ver más" class="btn btn-primary btn-xs center-block" /></a></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Jacob</td>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        <td><a href="#"><input type="button" value="Ver más" class="btn btn-primary btn-xs center-block" /></a></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Jacob</td>
                        <td><img src="{{ asset('assets/images/banderas/canada.png') }}" alt="">Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        <td><a href="#"><input type="button" value="Ver más" class="btn btn-primary btn-xs center-block" /></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}