{% extends "WebBundle::layout.html.twig" %}
{% block stylesheets %}

    {{ parent() }}
    <style>
        .img-tab {
            max-height: 80px;
            max-width: 80px;
        }

        .customLink {
            color: #fff !important;
            text-decoration: none;
            background-color: #214F7E !important;
        }

        .customLink:focus, .customLink:hover {
            background-color: #5E7FA1 !important;
        }

        .customNav {
            list-style-type: none;
            text-align: center;
            padding: 0px 10px 10px 10px;
        }

        .optionsTabLink:focus, .optionsTabLink:hover {
            text-decoration: underline !important;
        }

        .customNav > li {
            position: relative;
            display: inline;
            text-align: center;
        }

        .customNav > li > a {
            padding: 10px 40px;
            text-align: center;
        }

        .customNav > li > a:focus, .customNav > li > a:hover {
            text-decoration: underline !important;
        }

        .scrollDiv {
            max-height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .botonesvetical {
            position: absolute;
            z-index: 9999;
            right: 0;
            top: 42%;
        }

        .funkyradio div {
            clear: both;
            overflow: hidden;
        }

        .funkyradio label {
            width: 100%;
            border-radius: 3px;
            border: 1px solid #D1D3D4;
            font-weight: normal;
        }

        .funkyradio input[type="radio"]:empty,
        .funkyradio input[type="checkbox"]:empty {
            display: none;
        }

        .funkyradio input[type="radio"]:empty ~ label,
        .funkyradio input[type="checkbox"]:empty ~ label {
            position: relative;
            line-height: 2.5em;
            text-indent: 3.25em;
            margin-top: 0.5em;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .funkyradio input[type="radio"]:empty ~ label:before,
        .funkyradio input[type="checkbox"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

        .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
        .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
            color: #888;
        }

        .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
        .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
            content: '\2714';
            text-indent: .9em;
            color: #C2C2C2;
        }

        .funkyradio input[type="radio"]:checked ~ label,
        .funkyradio input[type="checkbox"]:checked ~ label {
            color: #777;
        }

        .funkyradio input[type="radio"]:checked ~ label:before,
        .funkyradio input[type="checkbox"]:checked ~ label:before {
            content: '\2714';
            text-indent: .9em;
            color: #333;
            background-color: #ccc;
        }

        .funkyradio input[type="radio"]:focus ~ label:before,
        .funkyradio input[type="checkbox"]:focus ~ label:before {
            box-shadow: 0 0 0 3px #999;
        }

        .funkyradio-success input[type="radio"]:checked ~ label:before,
        .funkyradio-success input[type="checkbox"]:checked ~ label:before {
            color: #fff;
            background-color: #3188AB;
        }

        .banner-full {
            position: relative;
        }

        .banner-full p {
            color: #214F7E;

            font-size: 17px;
            position: absolute;
            top: 50%;
            left: 20%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .thumbnail > * {
            display: block;
            max-width: 100%;
            height: auto;
        }

    </style>
{% endblock %}
{% block content %}

    <div class="botonesvetical">
        <ul class="list-unstyled">
            <li style="margin-bottom:3px;"><a data-toggle="modal" id="" href="#myModal2" class="">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-user"></span>
                    </button>
                </a></li>
            <li style="margin-bottom:3px;"><a data-toggle="modal" id="" href="#myModal3" class="">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span>
                    </button>
                </a></li>
            <li style="margin-bottom:3px;"><a data-toggle="modal" id="" href="#myModal4" class="">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-print"></span>
                    </button>
                </a></li>
            <li style="margin-bottom:3px;"><a id="" href="busqueda-general.html" target="_blank" class="">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </a></li>
        </ul>
    </div>

    <!-- Image Tabs -->
    <div class="col-xs-12 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
        <ul id="schoolList" class="nav nav-tabs" role="tablist" style="border:none !important;">
            {% if escuelas %}
                {% for key, escuela in escuelas %}
                    <li role="presentation" class="{% if loop.first %}active{% endif %}">
                        <a href="#{{ escuela.escNombre }}Tab" aria-controls="{{ escuela.escNombre }}Tab" role="tab"
                           data-toggle="tab"
                           style="border:none !important;">
                            {% if escuela.esc19 != null %}
                                <img src="{{ asset(escuela.esc19.path) }}"
                                     class="img-responsive img-tab"/>
                            {% endif %}

                            <p class="text-center"><strong>{{ escuela.idCiudad.ciudadDesc }}</strong></p>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                no hay escuelas
            {% endif %}
        </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% if escuelas %}
            <div class="tab-content">
                {% for llave, escuela in escuelas %}
                    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}"
                         id="{{ escuela.escNombre }}Tab">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li role="presentation" class="{% if loop.first %}active{% endif %}">
                                        <a href="#{{ escuela.escNombre }}_Escuela"
                                           aria-controls="{{ escuela.escNombre }}_Escuela" role="tab"
                                           data-toggle="tab"
                                           class="customLink">
                                            Escuela
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#{{ escuela.escNombre }}_Ingles_General"
                                           aria-controls="{{ escuela.escNombre }}_Ingles_General" role="tab"
                                           data-toggle="tab" class="customLink">
                                            Inglés General
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#{{ escuela.escNombre }}_Curso"
                                           aria-controls="{{ escuela.escNombre }}_Curso"
                                           role="tab"
                                           data-toggle="tab"
                                           class="customLink">
                                            Curso
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#{{ escuela.escNombre }}_Tramites"
                                           aria-controls="{{ escuela.escNombre }}_Tramites" role="tab"
                                           data-toggle="tab"
                                           class="customLink">
                                            Proceso Inscripción
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#{{ escuela.escNombre }}_Fotos_Y_Videos"
                                           aria-controls="{{ escuela.escNombre }}_Fotos_Y_Videos"
                                           role="tab"
                                           data-toggle="tab"
                                           class="customLink">
                                            Fotos Y Videos
                                        </a>
                                    </li>
                                </ul>
                                <div class="banner-full">
                                    <p>{{ escuela.idCiudad.idPais.paisDesc }} - {{ escuela.idCiudad.ciudadDesc }}</p>
                                    {% if escuela.banner != null %}
                                        <img src="{{ asset(escuela.banner.path) }}"
                                             class="img-responsive"/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if blocks %}
                            <div class="tab-content">
                                {% for seccion in secciones %}
                                    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}"
                                         id="{{ escuela.escNombre }}_{{ seccion }}"
                                         style="padding-top:30px !important;">
                                        <div class="container-fluid">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <ul class="customNav">
                                                    {% for newkey, content in blocks %}
                                                        {% if content.escuela.idEscuela == escuela.idEscuela %}
                                                            {% if content.seccion.id == seccion.id %}
                                                                {% if seccion == 'Curso' %}
                                                                    <li role="presentation">
                                                                        <a href="#{{ content.escuela }}_descripcion2"
                                                                           class="optionsTabLink">
                                                                            I. DESCRIPCIÓN GENERAL
                                                                        </a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a href="#{{ content.escuela }}_requisitos2"
                                                                           class="optionsTabLink">
                                                                            II. REQUISITOS DEL CURSO
                                                                        </a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a href="#{{ content.escuela }}_caracteristicas2"
                                                                           class="optionsTabLink">
                                                                            III. CARACTERISTICAS DEL CURSO
                                                                        </a>
                                                                    </li>
                                                                {% elseif seccion == 'Fotos_Y_Videos' %}
                                                                    <li role="presentation">
                                                                        <a href="#{{ content.escuela }}_Actividades"
                                                                           class="optionsTabLink">
                                                                            I.ACTIVIDADES
                                                                        </a>
                                                                        <a href="#{{ content.escuela }}_fotos"
                                                                           class="optionsTabLink">
                                                                            II.FOTOS
                                                                        </a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a href="#{{ content.escuela }}_videos"
                                                                           class="optionsTabLink">
                                                                            III. VIDEOS
                                                                        </a>
                                                                    </li>
                                                                {% else %}
                                                                    {% if content.nameBlockOne != null %}
                                                                        <li role="presentation">
                                                                            <a href="#{{ content.nameBlockOne }}"
                                                                               class="optionsTabLink">
                                                                                {{ content.nameBlockOne }}
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% if content.nameBlockSecond != null %}
                                                                        <li role="presentation">
                                                                            <a href="#{{ content.nameBlockSecond }}"
                                                                               class="optionsTabLink">
                                                                                {{ content.nameBlocksecond }}
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% if content.nameBlockThird != null %}
                                                                        <li role="presentation">
                                                                            <a href="#{{ content.nameBlockThird }}"
                                                                               class="optionsTabLink">
                                                                                {{ content.nameBlockThird }}
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% for newkey, content in blocks %}
                                                {% if content.escuela.idEscuela == escuela.idEscuela %}
                                                    {% if content.seccion.id == seccion.id %}
                                                        <p>aquiii</p>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scrollDiv"
                                                             style="margin: 15px 0px;">
                                                            {% if seccion == 'Curso' %}
                                                                {% for curso_content in cursos_content %}
                                                                    {% if curso_content.curso.escuela.idEscuela ==  escuela.idEscuela %}
                                                                        <div id="{{ content.escuela }}_descripcion2"
                                                                             class="row"
                                                                             style="background-color: #ddd;">
                                                                            <div class="container-fluid">

                                                                                <h4 style="text-align:center;">
                                                                                    I.DESCRIPCIÓN
                                                                                    GENERAL</h4>
                                                                                <hr/>

                                                                                <h4 class="text-primary">
                                                                                    <strong>{{ curso_content.curso }} </strong>
                                                                                </h4>

                                                                                {{ curso_content.bloqueDescripcion | raw }}
                                                                            </div>
                                                                        </div>
                                                                        <div id="{{ content.escuela }}_requisitos2"
                                                                             class="row">
                                                                            <div class="container-fluid">
                                                                                <h4 style="text-align:center;">
                                                                                    II.REQUISITOS DEL CURSO</h4>
                                                                                <hr/>
                                                                                <div class="col-md-6 col-md-push-3"
                                                                                     style="margin-top:30px;">
                                                                                    {{ curso_content.bloqueRequisitos | raw }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div id="{{ content.escuela }}_caracteristicas2"
                                                                             class="row"
                                                                             style="background-color: #ddd;">
                                                                            <div class="container-fluid">

                                                                                <h4 style="text-align:center;">II.
                                                                                    REQUISITOS DEL
                                                                                    CURSO</h4>
                                                                                <hr/>

                                                                                {#<h4 class="text-primary">
                                                                                    <strong>{{ curso_content.curso }} </strong></h4>#}
                                                                                {{ curso_content.bloqueCaracteristicas | raw }}
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% elseif seccion == 'Fotos_Y_Videos' %}
                                                                <div id="{{ content.escuela }}_Actividades" class="row"
                                                                     style="background-color: #ddd;">
                                                                    <div class="container-fluid">
                                                                        <h4 style="text-align:center;">I.
                                                                            ACTIVIDADES</h4>
                                                                        <hr/>
                                                                        {% for key, photogallery in photogalleries if photogallery.escuela.idEscuela == escuela.idEscuela %}
                                                                            {% for media in photogallery.image %}
                                                                                {% if media.type == 'actividades' %}
                                                                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                                                                        <a data-toggle="modal" id=""
                                                                                           href="#{{ key }}-{{ media.id }}"
                                                                                           class="thumbnail">
                                                                                            <img class="img-responsive"
                                                                                                 src="{{ asset(media.path) }}"
                                                                                                 alt="">
                                                                                        </a>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <div id="{{ content.escuela }}_fotos" class="row">
                                                                    <div class="container-fluid">
                                                                        <h4 style="text-align:center;">II. FOTOS</h4>
                                                                        <hr/>
                                                                        {% for key, photogallery in photogalleries if photogallery.escuela.idEscuela == escuela.idEscuela %}
                                                                            {% for media in photogallery.image %}
                                                                                {% if media.type == 'photogallery' %}
                                                                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                                                                        <a data-toggle="modal"
                                                                                           data-target="#myModal-{{ photogallery.escuela.idEscuela }}"
                                                                                           href="#myModal-{{ photogallery.escuela.idEscuela }}"
                                                                                           data-slide-to="{{ key }}"
                                                                                           class="thumbnail"
                                                                                           href="#myCarousel-{{ photogallery.escuela.idEscuela }}">
                                                                                            <img class="img-responsive"
                                                                                                 src="{{ asset(media.path) }}"
                                                                                                 alt="">
                                                                                        </a>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>

                                                                <div id="{{ content.escuela }}_videos" class="row">
                                                                    <div class="container-fluid">
                                                                        <h4 style="text-align:center;">III. VIDEOS</h4>
                                                                        <hr/>
                                                                        {% for key, photogallery in photogalleries if photogallery.escuela.idEscuela == escuela.idEscuela %}
                                                                            {% if photogallery.video %}
                                                                                {% for video in photogallery.video %}
                                                                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                                                                        <a class="thumbnail" href="#">
                                                                                            {{ video.src|raw }}
                                                                                        </a>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>

                                                                {# START MODAL ACTIVIADES #}
                                                                {% for key, photogallery in photogalleries if photogallery.escuela.idEscuela == escuela.idEscuela %}
                                                                    {% for media in photogallery.image %}
                                                                        <div class="modal fade modal-video"
                                                                             id="{{ key }}-{{ media.id }}"
                                                                             index="-1" role="dialog"
                                                                             aria-labelledby="modal-video-label">
                                                                            <div class="modal-dialog modal-lg   "
                                                                                 role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h4 class="text-center">
                                                                                            ACTIVIDADES EXTRAESCOLARES
                                                                                            {{ escuela.escNombre }}</h4>
                                                                                        <button type="button"
                                                                                                class="close"
                                                                                                data-dismiss="modal"
                                                                                                aria-label="Close">
                                                                                            <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <img src="{{ asset(media.path) }}"
                                                                                                     class="img-responsive">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button"
                                                                                                class="btn btn-primary"
                                                                                                data-dismiss="modal"
                                                                                                aria-label="Close">
                                                                                            Cerrar
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                {% endfor %}
                                                                {# END MODAL ACTIVIDADES #}

                                                                {# START MODAL CARROUSEL FOTOS #}
                                                                <div class="modal fade modal-video"
                                                                     id="myModal-{{ escuela.idEscuela }}"
                                                                     index="-1" role="dialog"
                                                                     aria-labelledby="modal-video-label">
                                                                    <div class="modal-dialog modal-md" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="text-center">GALERÍA
                                                                                    FOTOGRÁFICA</h4>
                                                                                <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="row">
                                                                                    <div id="myCarousel-{{ escuela.idEscuela }}"
                                                                                         class="carousel slide"
                                                                                         data-interval="false">
                                                                                        <div class="carousel-inner">
                                                                                            {% for photogallery in photogalleries if photogallery.escuela.idEscuela == escuela.idEscuela %}
                                                                                                {% for key, media in photogallery.image %}
                                                                                                    {% if media.type == 'photogallery' %}
                                                                                                        <div class="item {% if loop.index0 == 2 %}active{% endif %}">
                                                                                                            <img src="{{ asset(media.path) }}"
                                                                                                                 alt="item0">
                                                                                                        </div>
                                                                                                    {% endif %}
                                                                                                {% endfor %}
                                                                                            {% endfor %}
                                                                                            <!--end carousel-inner-->
                                                                                        </div>
                                                                                        <!--Begin Previous and Next buttons-->
                                                                                        <a class="left carousel-control"
                                                                                           href="#myCarousel-{{ escuela.idEscuela }}"
                                                                                           role="button"
                                                                                           data-slide="prev"> <span
                                                                                                    class="glyphicon glyphicon-chevron-left"></span></a>
                                                                                        <a
                                                                                                class="right carousel-control"
                                                                                                href="#myCarousel-{{ escuela.idEscuela }}"
                                                                                                role="button"
                                                                                                data-slide="next">
                                                                                            <span class="glyphicon glyphicon-chevron-right"></span></a>
                                                                                        <!--end carousel-->
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-primary"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">Cerrar
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {# END MODAL CARROUSEL FOTOS #}


                                                            {% else %}
                                                                {% if content.nameBlockOne != null %}
                                                                    <div id="{{ content.nameBlockOne }}" class="row"
                                                                         style="background-color: #ddd;">
                                                                        <div class="container-fluid">
                                                                            <h4 style="text-align:center;">
                                                                                {{ content.nameBlockOne }}
                                                                            </h4>
                                                                            <hr/>
                                                                            {{ content.contenBlockOne | raw }}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                {% if content.nameBlockSecond != null %}
                                                                    <div id="{{ content.nameBlockSecond }}" class="row"
                                                                         style="">
                                                                        <div class="container-fluid">
                                                                            <h4 style="text-align:center;">
                                                                                {{ content.nameBlockSecond }}
                                                                            </h4>
                                                                            <hr/>
                                                                            {{ content.contenBlockSecond | raw }}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                {% if content.nameBlockThird != null %}
                                                                    <div id="{{ content.nameBlockThird }}" class="row"
                                                                         style="background-color: #ddd;">
                                                                        <div class="container-fluid">
                                                                            <h4 style="text-align:center;">
                                                                                {{ content.nameBlockThird }}
                                                                            </h4>
                                                                            <hr/>
                                                                            {{ content.contenBlockThird | raw }}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            no hay escuelas
        {% endif %}
    </div>

    <!--Modal 2-->
    <div class="modal fade modal-video" id="myModal2" index="-1" role="dialog"
         aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center"><span class="glyphicon glyphicon-user"
                                                  style="padding: 10px"></span>
                        Datos
                        de Estudiantes</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-md-9 col-sm-7">

                            <ul class="nav nav-tabs list-unstyled">
                                <li class="active"><a data-toggle="tab" href="#home">Datos
                                        Generales</a></li>
                                <li><a data-toggle="tab" href="#menu1">Observaciones</a></li>
                                <li><a data-toggle="tab" href="#menu2">Perfilamiento</a></li>

                            </ul>

                            <div class="tab-content">

                                <div id="home" class="tab-pane fade in active">
                                    <div class="col-md-4">
                                        <ul style="margin-top:30px;">
                                            <li><strong class="text-primary">Nombre:</strong>
                                                Diana
                                            </li>
                                            <li><strong class="text-primary">Apellido
                                                    Paterno:</strong> García
                                            </li>
                                            <li><strong class="text-primary">Apellido
                                                    Materno:</strong> López
                                            </li>
                                            <li><strong class="text-primary">Tel.
                                                    Domicilio:</strong> 55 8473
                                                3847
                                            </li>
                                            <li><strong class="text-primary">Correo:</strong>
                                                diana.garcia@hotmail.com
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-md-push-1">
                                        <ul style="margin-top:30px;">
                                            <li><strong class="text-primary">Nombre:</strong>
                                                Diana
                                            </li>
                                            <li><strong class="text-primary">Apellido
                                                    Paterno:</strong> García
                                            </li>
                                            <li><strong class="text-primary">Apellido
                                                    Materno:</strong> López
                                            </li>
                                            <li><strong class="text-primary">Tel.
                                                    Domicilio:</strong> 55 8473
                                                3847
                                            </li>
                                            <li><strong class="text-primary">Correo:</strong>
                                                diana.garcia@hotmail.com
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div id="menu1" class="tab-pane fade">
                                    <p style="margin-top:30px;">Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua.Lorem
                                        ipsum
                                        dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                                        dolor sit amet,
                                        consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore
                                        et
                                        dolore magna aliqua. </p>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="col-md-4">
                                        <ul style="margin-top:30px;">
                                            <li><strong class="text-primary">Idioma de
                                                    interes:</strong> Inglés
                                            </li>
                                            <li><strong class="text-primary">Nivel de
                                                    idioma:</strong>
                                                Intermedio
                                            </li>
                                            <li><strong class="text-primary">País de
                                                    interés:</strong> Canadá
                                            </li>
                                            <li><strong class="text-primary">Ciudades de
                                                    interés:</strong>
                                                Toronto,
                                                Montreal
                                            </li>
                                            <li><strong class="text-primary">Obj. de estudiar
                                                    idiomas:</strong>Certificación
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-md-push-1">
                                        <ul style="margin-top:30px;">
                                            <li>
                                                <strong class="text-primary">Certificación:</strong>
                                                TOEFL
                                            </li>
                                            <li><strong class="text-primary">Inicio de
                                                    curso:</strong> Febrero
                                                2017
                                            </li>
                                            <li><strong class="text-primary">Tiempo de
                                                    curso:</strong> 8 semanas
                                            </li>
                                            <li>
                                                <strong class="text-primary">Alojamiento:</strong>
                                                Residencia
                                                Estudiantil
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!--Modal 3-->
    <div class="modal fade modal-video" id="myModal3" index="-1" role="dialog"
         aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center"><span class="glyphicon glyphicon-envelope"
                                                  style="padding: 10px"></span>¿Qué
                        deseas enviar por correo?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-md-6 col-sm-6">

                            <ul class="nav nav-tabs list-unstyled">
                                <li class="active"><a data-toggle="tab" href="#universo">Universo</a>
                                </li>
                                <li><a data-toggle="tab" href="#perfil">Perfil</a></li>
                            </ul>

                            <div class="tab-content">

                                <div id="universo" class="tab-pane fade in active">
                                    <div class="funkyradio" style="margin-top:20px;">
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox1"/>
                                                <label for="checkbox1">Quienes Somos</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox2"/>
                                                <label for="checkbox2">Ventajas UE</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox3"/>
                                                <label for="checkbox3">Formas de pago</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox4"/>
                                                <label for="checkbox4">Cuentas Bancarias
                                                    VIESCO</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox5"/>
                                                <label for="checkbox5">Cuentas Bancarias
                                                    Corporativo</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox6"/>
                                                <label for="checkbox6">Formatos de
                                                    Inscripción</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox7"/>
                                                <label for="checkbox7">Proceso de pago</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="perfil" class="tab-pane fade">
                                    <div class="funkyradio" style="margin-top:20px;">
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox8"/>
                                                <label for="checkbox8">Descripción País</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox9"/>
                                                <label for="checkbox9">Descripción Ciudad
                                                    1</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox10"/>
                                                <label for="checkbox10">Descripción Ciudad
                                                    2</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox11"/>
                                                <label for="checkbox11">Descripción
                                                    Escuela</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox12"/>
                                                <label for="checkbox12">Descripción
                                                    Curso</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox13"/>
                                                <label for="checkbox13">Descripcion Ingles
                                                    General</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox14"/>
                                                <label for="checkbox14">Tipo de
                                                    Alojamiento</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>




    <!--Modal 4-->
    <div class="modal fade modal-video" id="myModal4" index="-1" role="dialog"
         aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center"><span class="glyphicon glyphicon-print"
                                                  style="padding: 10px"></span>¿Qué
                        deseas imprimir?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-md-6 col-sm-6">

                            <ul class="nav nav-tabs list-unstyled">
                                <li class="active"><a data-toggle="tab" href="#universo2">Universo</a>
                                </li>
                                <li><a data-toggle="tab" href="#perfil2">Perfil</a></li>
                            </ul>

                            <div class="tab-content">

                                <div id="universo2" class="tab-pane fade in active">
                                    <div class="funkyradio" style="margin-top:20px;">
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox15"/>
                                                <label for="checkbox15">Quienes Somos</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox16"/>
                                                <label for="checkbox16">Ventajas UE</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox17"/>
                                                <label for="checkbox17">Formas de pago</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox18"/>
                                                <label for="checkbox18">Cuentas Bancarias
                                                    VIESCO</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox19"/>
                                                <label for="checkbox19">Cuentas Bancarias
                                                    Corporativo</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox20"/>
                                                <label for="checkbox20">Formatos de
                                                    Inscripción</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox21"/>
                                                <label for="checkbox21">Formatos de pago</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="perfil2" class="tab-pane fade">
                                    <div class="funkyradio" style="margin-top:20px;">
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox22"/>
                                                <label for="checkbox22">Descripción País</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox23"/>
                                                <label for="checkbox23">Descripción Ciudad
                                                    1</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox24"/>
                                                <label for="checkbox24">Descripción Ciudad
                                                    2</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox25"/>
                                                <label for="checkbox25">Descripción
                                                    Escuela</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox26"/>
                                                <label for="checkbox26">Descripción
                                                    Curso</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox27"/>
                                                <label for="checkbox27">Descripcion Ingles
                                                    General</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-push-2 ">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox"
                                                       id="checkbox28"/>
                                                <label for="checkbox28">Tipo de
                                                    Alojamiento</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Imprimir</button>
                </div>
            </div>
        </div>
    </div>




    <!--Modal 5 foto Actividades ALI-->
    <div class="modal fade modal-video" id="myModal5" index="-1" role="dialog"
         aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg   " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center">ACTIVIDADES EXTRAESCOLARES ALIs</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="{{ asset('assets/images/extrasalidas/calendarioALI.jpg') }}"
                                 class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            aria-label="Close">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>



    <!--Modal 5 foto Actividades ALI-->
    <div class="modal fade modal-video" id="myModal6" index="-1" role="dialog"
         aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center">ACTIVIDADES EXTRAESCOLARES ALI</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <img src="{{ asset('assets/images/extrasalidas/electivas.jpg') }}"
                                 class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            aria-label="Close">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!--Modal 5 foto Actividades ALI-->
    <div class="modal fade modal-video" id="myModal8" index="-1" role="dialog"
         aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center">ACTIVIDADES EXTRAESCOLARES ALI</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <img src="images/extrasalidas/CalendarioILAC.jpg"
                                 class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            aria-label="Close">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!--Modal 5 foto Actividades ALI-->
    <div class="modal fade modal-video" id="myModal9" index="-1" role="dialog"
         aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center">ACTIVIDADES EXTRAESCOLARES ALI</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <img src="images/extrasalidas/electivasILAC.jpg"
                                 class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            aria-label="Close">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>





    <!--Modal 6 CARRUSEL FOTOS-->
    <div class="modal fade modal-video" id="myModal7" index="-1" role="dialog"
         aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center">GALERÍA FOTOGRÁFICA</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div id="myCarousel" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active"><img
                                            src="{{ asset('assets/images/fotos/ALI/1.jpg') }}"
                                            alt="item0">
                                    <div class="carousel-caption">
                                        <p>Slide 0 description.</p>
                                    </div>
                                </div>
                                <div class="item"><img
                                            src="{{ asset('assets/images/fotos/ALI/2.jpg') }}"
                                            alt="item1">
                                    <div class="carousel-caption">
                                        <p>Slide 1 description.</p>
                                    </div>
                                </div>
                                <div class="item"><img
                                            src="{{ asset('assets/images/fotos/ALI/3.jpg') }}"
                                            alt="item2">
                                    <div class="carousel-caption">
                                        <p>Slide 2 description.</p>
                                    </div>
                                </div>
                                <div class="item"><img
                                            src="{{ asset('assets/images/fotos/ALI/4.JPG') }}"
                                            alt="item3">
                                    <div class="carousel-caption">
                                        <p>Slide 3 description.</p>
                                    </div>
                                </div>
                                <div class="item"><img
                                            src="{{ asset('assets/images/fotos/ALI/5.jpg') }}"
                                            alt="item4">
                                    <div class="carousel-caption">
                                        <p>Slide 4 description.</p>
                                    </div>
                                </div>
                                <div class="item"><img
                                            src="{{ asset('assets/images/fotos/ALI/6.JPG') }}"
                                            alt="item5">
                                    <div class="carousel-caption">
                                        <p>Slide 5 description.</p>
                                    </div>
                                </div>
                                <div class="item"><img
                                            src="{{ asset('assets/images/fotos/ALI/7.jpg') }}"
                                            alt="item6">
                                    <div class="carousel-caption">
                                        <p>Slide 6 description.</p>
                                    </div>
                                </div>
                                <div class="item"><img
                                            src="{{ asset('assets/images/fotos/ALI/9.jpg') }}"
                                            alt="item7">
                                    <div class="carousel-caption">
                                        <p>Slide 7 description.</p>
                                    </div>
                                </div>


                                <!--end carousel-inner--></div>
                            <!--Begin Previous and Next buttons-->
                            <a class="left carousel-control" href="#myCarousel" role="button"
                               data-slide="prev"> <span
                                        class="glyphicon glyphicon-chevron-left"></span></a> <a
                                    class="right carousel-control" href="#myCarousel"
                                    role="button"
                                    data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <!--end carousel--></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            aria-label="Close">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}