{% extends "WebBundle::layout.html.twig" %}
{% block stylesheets %}

    {{ parent() }}
    <style>
        .header {
            color: white;
            text-align: center !important;
            margin-top: -2px;
        }

        @media (max-width: 569px) {
            .header {
                font-size: 14px;
            }
        }

        @media (max-width: 506px) {
            .panel-primary > .panel-heading {
                height: 42px;
            }
        }

        .dvContent {
            height: 225px !important;
            overflow-y: scroll;
        }

        .pnlObservaciones {
            border: none !important;
            background-color: #ffffff;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        #dvCheckBox {
            border: 1px solid #fff;
            float: left;
            /*padding: 1px;*/
            /*margin: 20px;*/
        }

        label {
            background: #ddd;
            height: 25px;
            width: 25px;
            display: block;
        }

        label:hover {
            background: #ddd;
        }

        .scrollDiv {
            max-height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .dvSearch {
            padding: 5px 0;
            /*width: 230px;*/
            height: 30px;
            position: relative;
            /*left: -10px;*/
            float: right;
            line-height: 22px;
        }

        .dvSearch input {
            position: absolute;
            /*position: absolute;
            width: 0px;
            float: left;
            margin-left: 210px;*/
            -webkit-transition: all 0.7s ease-in-out;
            -moz-transition: all 0.7s ease-in-out;
            -o-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
            height: 30px;
            line-height: 18px;
            padding: 0 2px 0 2px;
            border-radius: 5px;
            margin-top: -12px;
            z-index: -1;
        }

        .dvSearch:hover input, .search input:focus {
            width: 200px;
            margin-left: -148px;
            z-index: 0;
        }

        .btn1 {
            height: 30px;
            position: absolute;
            right: 0;
            top: 5px;
            border-radius: 5px;
            margin-top: -12px;
        }


    </style>
{% endblock %}
{% block content %}
    {#<!-- PAIS DE ESTUDIO -->#}
    <div class="row">
        <div clas="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h4 class="header">¿En qué país te interesa estudiar?</h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dvSearch">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search"/>
                            <button type="submit" class="btn1 btn-success btn-sm"><span
                                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>

                    <div class="panel panel-body dvContent">
                        <ul class="nav nav-pills nav-stacked">
                            {% if paises %}
                                {% for key, pais in paises %}
                                    {% set newKey = key + 1 %}
                                    <li role="presentation" class="{% if loop.first %}active{% endif %}">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                                 style="padding-top:10px; text-align:right !important;">
                                                <a data-toggle="modal" id="" href="#modal-{{ pais.paisDesc|lower }}"
                                                   class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a data-toggle="pill" id="btn{{ pais.paisDesc }}"
                                                   href="#{{ pais.paisDesc }}"
                                                   class="list-group-item">
                                                    {% if pais.pa07 != null %}
                                                        <i><img src="{{ asset(pais.pa07.path) }}"></i>&nbsp;
                                                    {% endif %}
                                                    {{ pais.paisDesc }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                No hay registros
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>


            <!-- CIUDADES DE ESTUDIO -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h4 class="header">Ciudades de <span id="lblCiudad"></span></h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dvSearch">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search"/>
                            <button type="submit" class="btn1 btn-success btn-sm"><span
                                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <div class="panel panel-body dvContent">
                        <div class="tab-content">
                            {% if paises %}
                                {% for key, pais in paises %}
                                    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}"
                                         id="{{ pais.paisDesc }}">
                                        <ul class="nav nav-pills nav-stacked">
                                            {% if ciudades %}
                                                {% for key, ciudad in ciudades %}
                                                    {% set newKey = key + 1 %}
                                                    {% if pais == ciudad.idPais %}
                                                        <li role="presentation">
                                                            <div class="row">
                                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                                                     style="padding-top:10px;">
                                                                    <a data-toggle="modal" id=""
                                                                       href="#modal-{{ ciudad.ciudadDesc|lower }}"
                                                                       class="">
                                                                        <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                                             style="max-height:30px; max-width:30px;"/>
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                                    <a href="#" class="list-group-item">
                                                                        {% if ciudad.imgBandera != null %}
                                                                            <img src="{{ asset(ciudad.imgBandera.path) }}"/>&nbsp;
                                                                        {% endif %}
                                                                        {{ ciudad.ciudadDesc }}
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                                                     style="padding-top:10px;">
                                                                    <input type="checkbox" id="checkSyndey"
                                                                           name="cities"
                                                                           class="hidden"/>
                                                                    <div id="dvCheckBox">
                                                                        <label for="checkSyndey"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                no hay registros
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if paises %}
        {% for key, pais in paises %}
            <div class="modal fade modal-video" id="modal-{{ pais.paisDesc|lower }}" index="-1" role="dialog"
                 aria-labelledby="modal-video-label">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-left"><img src="images/banderas/australia.png "
                                                       style="padding: 10px">{{ pais.paisDesc }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if pais.imgModal != null %}
                                        <img src="{{ asset(pais.imgModal.path) }}">
                                    {% endif %}
                                </div>
                                <div class="col-md-6 scrollDiv">
                                    {{ pais.paisDescLarga| raw }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if ciudades %}
        {% for key, content in ciudades %}
            <div class="modal fade modal-video" id="modal-{{ content.ciudadDesc|lower }}" index="-1" role="dialog"
                 aria-labelledby="modal-video-label">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-left"><img src="images/banderas/australia.png "
                                                       style="padding: 10px">{{ content.ciudadDesc }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if content.imgModal %}
                                        <img src="{{ asset(content.imgModal.path) }}">
                                    {% endif %}
                                </div>
                                <div class="col-md-6 scrollDiv">
                                    {{ content.ciudadDescLarga| raw }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {

                $('#lblCiudad').text('Australia');

                $("#btnAustralia").click(function () {
                    $('#lblCiudad').text('Australia');
                });
                $("#btnCanadá").click(function () {
                    $('#lblCiudad').text('Canadá');
                });
                $("#btnInglaterra").click(function () {
                    $('#lblCiudad').text('Inglaterra');
                });
                $("#btnIndia").click(function () {
                    $('#lblCiudad').text('India');
                });
                $("#btnIrlanda").click(function () {
                    $('#lblCiudad').text('Irlanda');
                });
                $("#btnMalta").click(function () {
                    $('#lblCiudad').text('Malta');
                });
                $("#btnNuevaZelanda").click(function () {
                    $('#lblCiudad').text('NuevaZelanda');
                });
                $("#btnSudafrica").click(function () {
                    $('#lblCiudad').text('Sudafrica');
                });
            });
        </script>
    {% endblock %}