{% extends "WebBundle::layout.html.twig" %}
{% block stylesheets %}

    {{ parent() }}
    <style>
        .header {
            color: white;
            text-align: center !important;
            margin-top: -2px;
        }

        @media (max-width: 569px) {
            .header {
                font-size: 14px;
            }
        }

        @media (max-width: 506px) {
            .panel-primary > .panel-heading {
                height: 42px;
            }
        }

        .dvContent {
            height: 225px !important;
            overflow-y: scroll;
        }

        .pnlObservaciones {
            border: none !important;
            background-color: #ffffff;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        #dvCheckBox {
            border: 1px solid #fff;
            float: left;
            /*padding: 1px;*/
            /*margin: 20px;*/
        }

        label {
            background: #ddd;
            height: 25px;
            width: 25px;
            display: block;
        }

        label:hover {
            background: #ddd;
        }

        .scrollDiv {
            max-height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .dvSearch {
            padding: 5px 0;
            /*width: 230px;*/
            height: 30px;
            position: relative;
            /*left: -10px;*/
            float: right;
            line-height: 22px;
        }

        .dvSearch input {
            position: absolute;
            /*position: absolute;
            width: 0px;
            float: left;
            margin-left: 210px;*/
            -webkit-transition: all 0.7s ease-in-out;
            -moz-transition: all 0.7s ease-in-out;
            -o-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
            height: 30px;
            line-height: 18px;
            padding: 0 2px 0 2px;
            border-radius: 5px;
            margin-top: -12px;
            z-index: -1;
        }

        .dvSearch:hover input, .search input:focus {
            width: 200px;
            margin-left: -148px;
            z-index: 0;
        }

        .btn1 {
            height: 30px;
            position: absolute;
            right: 0;
            top: 5px;
            border-radius: 5px;
            margin-top: -12px;
        }


    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div clas="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <h4 class="header"><span id="lblCiudad"></span></h4>
                    </div>
                    <div class="panel panel-body dvContent">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:20px;">
                                        <a data-toggle="pill" id="btnAustralia" href="#uno" class="list-group-item">
                                            &nbsp;&nbsp;¿Cuando quieres iniciar tu programa de estudios?
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li role="presentation">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:20px;">
                                        <a data-toggle="pill" id="btnCanada" href="#dos" class="list-group-item">
                                            &nbsp;&nbsp;¿Por cuanto tiempo te gustaría estudiar?
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li role="presentation">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a data-toggle="pill" id="btnIrlanda" href="#tres" class="list-group-item">
                                            &nbsp;&nbsp;¿Qué tipo de alojamiento te gustaría?
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- INICIO DE ESTUDIOS -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <h4 class="header"><span id="lblCiudad"></span></h4>
                    </div>
                    <div class="panel panel-body dvContent">
                        <div class="tab-content">

                            <!--Inicio de Estudios-->
                            <div role="tabpanel" class="tab-pane active" id="uno">
                                <div class="row" style="background-color:#ddd; margin-top:-15px">
                                    <h4 class="text-center">Elige el año...</h4>
                                </div>
                                <div class="row">
                                    <ul class="list-inline text-center" style="margin-top:10px;">
                                        <li>
                                            2017
                                            <input type="checkbox" id="checkSyndey" name="cities" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkSyndey"></label>
                                            </div>
                                        </li>
                                        <li>
                                            2018
                                            <input type="checkbox" id="checkBrisbane" name="cities" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkBrisbane"></label>
                                            </div>
                                        </li>
                                        <li>
                                            2019
                                            <input type="checkbox" id="checkGoldCoast" name="cities" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkGoldCoast"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row" style="background-color:#ddd;">
                                    <h4 class="text-center">Elige el mes...</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;">
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkEnero" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkEnero"></label>
                                            </div>
                                            Enero
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkAbril" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkAbril"></label>
                                            </div>
                                            Abril
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkJulio" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkJulio"></label>
                                            </div>
                                            Julio
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkOctubre" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkOctubre"></label>
                                            </div>
                                            Octubre
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkFebrero" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkFebrero"></label>
                                            </div>
                                            Febrero
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkMayo" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkMayo"></label>
                                            </div>
                                            Mayo
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkAgosto" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkAgosto"></label>
                                            </div>
                                            Agosto
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkNoviembre" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkNoviembre"></label>
                                            </div>
                                            Noviembre
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkMarzo" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkMarzo"></label>
                                            </div>
                                            Marzo
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkJunio" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkJunio"></label>
                                            </div>
                                            Junio
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkJunio" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkJunio"></label>
                                            </div>
                                            Septiem
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <input type="checkbox" id="checkDiciembre" name="months" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkDiciembre"></label>
                                            </div>
                                            Diciembre
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- ¿POR CUANTO TIEMPO TE GUSTARÍA ESTUDIAR? -->
                            <div role="tabpanel" class="tab-pane" id="dos">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="margin-top:10px;">
                                                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-6 col-lg-6 col-md-push-2">
                                                    <input type="checkbox" id="check2semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check2semanas"></label>
                                                    </div>
                                                    2 semanas
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <input type="checkbox" id="check16semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check16semanas"></label>
                                                    </div>
                                                    16 semanas
                                                </div>

                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-6 col-lg-6 col-md-push-2">
                                                    <input type="checkbox" id="check3semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check3semanas"></label>
                                                    </div>
                                                    3 semanas
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                                                    <input type="checkbox" id="check20semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check20semanas"></label>
                                                    </div>
                                                    20 semanas
                                                </div>

                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-6 col-lg-6 col-md-push-2">
                                                    <input type="checkbox" id="check4semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check4semanas"></label>
                                                    </div>
                                                    4 semanas
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <input type="checkbox" id="check24semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check24semanas"></label>
                                                    </div>
                                                    24 semanas
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-6 col-lg-6 col-md-push-2">
                                                    <input type="checkbox" id="check8semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check8semanas"></label>
                                                    </div>
                                                    8 semanas
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <input type="checkbox" id="check48semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check48semanas"></label>
                                                    </div>
                                                    48 semanas
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-6 col-lg-6 col-md-push-2">
                                                    <input type="checkbox" id="check12semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check12semanas"></label>
                                                    </div>
                                                    12 semanas
                                                </div>
                                                <div class="col-xs-6  col-sm-6 col-md-6 col-lg-6">
                                                    <input type="checkbox" id="check52semanas" name="months"
                                                           class="hidden"/>
                                                    <div id="dvCheckBox">
                                                        <label for="check52semanas"></label>
                                                    </div>
                                                    52 semanas
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--TIPOS DE ALOJAMIENTO-->
                            <div role="tabpanel" class="tab-pane" id="tres">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation" class="active">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px; text-align:right !important;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png" style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="margin-bottom:20px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Residencia Estudiantil
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal2" class="">
                                                    <img src="images/icons/if_Info_728979.png" style="max-height:30px; max-width:30px;" />
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="margin-bottom:20px;">
                                                <a  href="#" class="list-group-item">
                                                    Hogar Anfitrión
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal3" class="">
                                                    <img src="images/icons/if_Info_728979.png" style="max-height:30px; max-width:30px;" />
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    Apartamento
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {#<div role="tabpanel" class="tab-pane" id="tres">#}
                                {#<ul class="nav nav-pills nav-stacked">#}
                                    {#{% if alojamientos %}#}
                                        {#{% for alojamiento in alojamientos %}#}
                                            {#<li role="presentation" class="{% if loop.first %}active{% endif %}">#}
                                                {#<div class="row">#}
                                                    {#<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"#}
                                                         {#style="padding-top:10px; text-align:right !important;">#}
                                                        {#<a data-toggle="modal" id=""#}
                                                           {#href="#modal-{{ alojamiento.name|lower|replace({' ':''}) }}"#}
                                                           {#class="">#}
                                                            {#<img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"#}
                                                                 {#style="max-height:30px; max-width:30px;"/>#}
                                                        {#</a>#}
                                                    {#</div>#}
                                                    {#<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"#}
                                                         {#style="margin-bottom:20px;">#}
                                                        {#<a href="#" class="list-group-item">#}
                                                            {#{{ alojamiento.name }}#}
                                                        {#</a>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</li>#}
                                        {#{% endfor %}#}

                                    {#{% else %}#}
                                        {#no hay alojamientos#}
                                    {#{% endif %}#}
                                {#</ul>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#{% if alojamientos %}#}
        {#{% for key, content in alojamientos %}#}
            {#<div class="modal fade modal-video" id="modal-{{ content.name|lower|replace({' ':''}) }}"#}
                 {#index="-1" role="dialog"#}
                 {#aria-labelledby="modal-video-label">#}
                {#<div class="modal-dialog modal-lg" role="document">#}
                    {#<div class="modal-content">#}
                        {#<div class="modal-header">#}
                            {#<h3 class="text-left">{{ content.name }}</h3>#}
                            {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                                {#<span aria-hidden="true">&times;</span>#}
                            {#</button>#}
                        {#</div>#}
                        {#<div class="modal-body">#}
                            {#<div class="row">#}
                                {#<div class="col-md-6">#}
                                    {#{% if content.imgModal != null %}#}
                                        {#<img src="{{ asset(content.imgModal.path) }}">#}
                                    {#{% endif %}#}
                                {#</div>#}
                                {#<div class="col-md-6 scrollDiv">#}
                                    {#{{ content.descLarga| raw }}#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="modal-footer">#}
                            {#<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar#}
                            {#</button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#{% endif %}#}

    <!--MODAL ALOJAMIENTO RESIDENCIA ESTUDIANTIL-->
    <div class="modal fade modal-video" id="myModal" index="-1" role="dialog" aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-left">Canadá</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/popups/residenciaEstudiantil.png">
                        </div>
                        <div class="col-md-6 scrollDiv">
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <br />
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <br />
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>



    <!--MODAL HOGAR ANFITRION-->
    <div class="modal fade modal-video" id="myModal2" index="-1" role="dialog" aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-left">HOGAR ANFITRIÓN</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/popups/HogarAnfitrion.png">
                        </div>
                        <div class="col-md-6 scrollDiv">
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <br />
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <br />
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    <!--MODAL APARTAMENTO-->
    <div class="modal fade modal-video" id="myModal3" index="-1" role="dialog" aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-left">APARTAMENTO</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/popups/apartamento.png">
                        </div>
                        <div class="col-md-6 scrollDiv">
                            <ul>
                                <li>Algunos estudiantes prefieren vivir en un departamento amueblado o compartido con otros
                                    estudiantes. Esta opción se recomienda para quienes van a estudiar por varios meses y a partir del segundo mes de estancia; la ventaja principal es que serás totalmente independiente. La desventaja es que tendrás que lidiar con contratos, debes comprar y cocinar tus alimentos.</li><br/>
                                <li>Además de estar al pendiente de todo por ti mismo y perderás muchas oportunidades de practicar inglés al vivir solo.</li><br/>
                                <li>Te recomendamos que elijas el departamento una vez que llegues a tu destino, ya que:
                                    <ul>
                                        <li>Puedes ver y comparar entre calidad y precio</li>
                                        <li>Al rentarlo directamente, no tienes que pagar la comisión de la agencia</li>
                                        <li>Existe menos posibilidad de engaño</li>
                                        <li>En cada escuela habrá muchas oportunidades de compartir con otros estudiantes</li>
                                    </ul>
                                </li>
                                <br/>
                                <li>En la mayoría de las escuelas ayudan a los estudiantes a encontrar departamento, proporcionando información sobre cómo, dónde y con quién.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#lblCiudad').text('Inicio de Estudios');

            $("#btnInicio").click(function () {
                $('#lblCiudad').text('Inicio de Estudios');
            });
            $("#btnTiempo").click(function () {
                $('#lblCiudad').text('Tiempo de Estudio');
            });
            $("#btnAlojamiento").click(function () {
                $('#lblCiudad').text('Tipo de Alojamiento');
            });

            var tpj = jQuery;
        });

        var $star_rating = $('.star-rating .fa');

        var SetRatingStar = function () {
            return $star_rating.each(function () {
                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                } else {
                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                }
            });
        };

        $star_rating.on('click', function () {
            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
            return SetRatingStar();
        });

        SetRatingStar();
    </script>
{% endblock %}
