{% extends "WebBundle::layout.html.twig" %}
{% block stylesheets %}

    {{ parent() }}
    <style>
        .header {
            color: white;
            text-align: center !important;
            margin-top: -2px;
        }

        @media (max-width: 569px) {
            .header {
                font-size: 14px;
            }
        }

        @media (max-width: 506px) {
            .panel-primary > .panel-heading {
                height: 42px;
            }
        }

        .dvContent {
            height: 225px !important;
            overflow-y: scroll;
        }

        .pnlObservaciones {
            border: none !important;
            background-color: #ffffff;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        #dvCheckBox {
            border: 1px solid #fff;
            float: left;
            /*padding: 1px;*/
            /*margin: 20px;*/
        }

        label {
            background: #ddd;
            height: 25px;
            width: 25px;
            display: block;
        }

        label:hover {
            background: #ddd;
        }

        .scrollDiv {
            max-height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .dvSearch {
            padding: 5px 0;
            /*width: 230px;*/
            height: 30px;
            position: relative;
            /*left: -10px;*/
            float: right;
            line-height: 22px;
        }

        .dvSearch input {
            position: absolute;
            /*position: absolute;
            width: 0px;
            float: left;
            margin-left: 210px;*/
            -webkit-transition: all 0.7s ease-in-out;
            -moz-transition: all 0.7s ease-in-out;
            -o-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
            height: 30px;
            line-height: 18px;
            padding: 0 2px 0 2px;
            border-radius: 5px;
            margin-top: -12px;
            z-index: -1;
        }

        .dvSearch:hover input, .search input:focus {
            width: 200px;
            margin-left: -148px;
            z-index: 0;
        }

        .btn1 {
            height: 30px;
            position: absolute;
            right: 0;
            top: 5px;
            border-radius: 5px;
            margin-top: -12px;
        }


    </style>
{% endblock %}
{% block content %}
    <!-- OBJETIVOS DE ESTUDIAR UN IDIOMA -->
    <!-- OBJETIVOS DE ESTUDIAR UN IDIOMA -->

    <div class="row">
        <div clas="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <h4 class="header">¿Cuál es tu objetivo principal de estudiar un idioma?</h4>
                    </div>
                    <div class="panel panel-body dvContent">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                         style="padding-top:10px; text-align:right !important;">
                                        <a data-toggle="modal" id="" href="#myModal" class="">
                                            <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                 style="max-height:30px; max-width:30px;"/>
                                        </a>
                                    </div>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                        <a data-toggle="pill" id="btnMejorar Nivel" href="#uno" class="list-group-item">
                                            &nbsp;&nbsp;Mejorar Nivel
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li role="presentation">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                        <a data-toggle="modal" id="" href="#myModal2" class="">
                                            <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                 style="max-height:30px; max-width:30px;"/>
                                        </a>
                                    </div>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                        <a data-toggle="pill" id="btnCertificacion" href="#dos" class="list-group-item">
                                            &nbsp;&nbsp;Certificación
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li role="presentation">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                        <a data-toggle="modal" id="" href="#myModal3" class="">
                                            <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                 style="max-height:30px; max-width:30px;"/>
                                        </a>
                                    </div>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                        <a data-toggle="pill" id="btnEstudio" href="#tres" class="list-group-item">
                                            &nbsp;&nbsp;Estudio y trabajo
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li role="presentation">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                        <a data-toggle="modal" id="" href="#myModal4" class="">
                                            <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                 style="max-height:30px; max-width:30px;"/>
                                        </a>
                                    </div>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                        <a data-toggle="pill" id="btnAcademicos" href="#cuatro" class="list-group-item">
                                            &nbsp;&nbsp;Fines académicos
                                        </a>
                                    </div>
                                </div>
                            </li>

                            <li role="presentation">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                        <a data-toggle="modal" id="" href="#myModal5" class="">
                                            <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                 style="max-height:30px; max-width:30px;"/>
                                        </a>
                                    </div>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                        <a data-toggle="pill" id="btnProfesionales" href="#cinco"
                                           class="list-group-item">
                                            &nbsp;&nbsp;Fines profesionales
                                        </a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- MEJORAR NIVEL -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h4 class="header"><span id="lblCiudad"></span></h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dvSearch">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search"/>
                            <button type="submit" class="btn1 btn-success btn-sm"><span
                                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                        <!--<div class="search">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                            <button type="submit" class="btn1 btn-success btn-sm"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                        <h4 class="header">Mejorar Nivel</h4>-->
                    </div>
                    <div class="panel panel-body dvContent">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="uno">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Idioma con lenguaje técnico en un área o habilidad
                                                    específica
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Idioma general
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Idioma para familias
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Idioma y diversión
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--CERTIFICACIONES-->
                            <div role="tabpanel" class="tab-pane" id="dos">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;TESL
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;TESOL
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;TKT
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;TOEFL
                                                </a>
                                            </div>

                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;TOEIC
                                                </a>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--ESTUDIO Y TRABAJO-->
                            <div role="tabpanel" class="tab-pane" id="tres">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"
                                                 style="margin-bottom:20px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Estudio y trabajo remunerado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Prácticas profesionales
                                                </a>
                                            </div>

                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <!--FINES ACADÉMICOS-->
                            <div role="tabpanel" class="tab-pane" id="cuatro">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"
                                                 style="margin-bottom:5px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Año académico
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"
                                                 style="margin-bottom:5px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Inglés académico sin pathway
                                                </a>
                                            </div>

                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"
                                                 style="margin-bottom:5px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Pathway
                                                </a>
                                            </div>

                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Semestre Académico
                                                </a>
                                            </div>

                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <!--FINES PROFESIONALES-->
                            <div role="tabpanel" class="tab-pane" id="cinco">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Inglés ejecutivo
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Medios de comunicación
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Negocios y Administración
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Salud
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                <a data-toggle="modal" id="" href="#myModal" class="">
                                                    <img src="images/icons/if_Info_728979.png"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Tecnología
                                                </a>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Mejorar Nivel -->
    <div class="modal fade modal-video" id="myModal" index="-1" role="dialog" aria-labelledby="modal-video-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-left">Mejorar Nivel</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/popups/mejorarNivel.png">
                        </div>
                        <div class="col-md-6 scrollDiv">
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es
                                reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus
                                autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <br/>
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es
                                reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus
                                autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es
                                reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus
                                autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <br/>
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es
                                reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus
                                autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                            <p>Es uno de los diez países con mayor calidad de vida en el mundo según la ONU. Es
                                reconocida por ser una nación con una cultura amplia y diversa que va desde las tribus
                                autóctonas hasta la multiculturalidad aportada por las comunidades inmigrantes</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>


    {#<div class="row">
        <div clas="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <h4 class="header">¿Cuál es tu objetivo principal de estudiar un idioma?</h4>
                    </div>
                    <div class="panel panel-body dvContent">
                        <ul class="nav nav-pills nav-stacked">
                            {% if objetivos %}
                                {% for key, objetivo in objetivos %}
                                    {% set newKey = key + 1 %}
                                    <li role="presentation" class="{% if loop.first %}active{% endif %}">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                                 style="padding-top:10px; text-align:right !important;">
                                                <a data-toggle="modal" id=""
                                                   href="#modal-{{ objetivo.name|lower|replace({' ':''}) }}"
                                                   class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a data-toggle="pill" id="btn{{ objetivo.name|replace({' ':''}) }}"
                                                   href="#{{ objetivo.name|replace({' ':''}) }}"
                                                   class="list-group-item">
                                                    {{ objetivo.name }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                no hay objetivos
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h4 class="header"><span id="lblCiudad"></span></h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dvSearch">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search"/>
                            <button type="submit" class="btn1 btn-success btn-sm"><span
                                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <div class="panel panel-body dvContent">
                        <div class="tab-content">
                            {% if objetivos %}
                                {% for key, objetivo in objetivos %}
                                    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}"
                                         id="{{ objetivo.name|replace({' ':''}) }}">
                                        <ul class="nav nav-pills nav-stacked">
                                            {% if subobjetivos %}
                                                {% for key, sub in subobjetivos %}
                                                    {% set newKey = key + 1 %}
                                                    {% if objetivo == sub.objetivo %}
                                                        <li role="presentation">
                                                            <div class="row">
                                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:10px;">
                                                                    <a data-toggle="modal" id="" href="#modal-{{ sub.name|lower|replace({' ':''}) }}" class="">
                                                                        <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}" style="max-height:30px; max-width:30px;" />
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                                    <a data-toggle="pill" id="btn{{ sub.name }}" href="#{{ sub.name }}" class="list-group-item">
                                                                        &nbsp;&nbsp;{{ sub.name }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                no hay registros
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if objetivos %}
        {% for key, content in objetivos %}
            <div class="modal fade modal-video" id="modal-{{ content.name|lower|replace({' ':''}) }}"
                 index="-1" role="dialog"
                 aria-labelledby="modal-video-label">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-left">{{ content.name }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{ asset('uploads/popups/objetivos/'~content.imgModal) }}">
                                </div>
                                <div class="col-md-6 scrollDiv">
                                    {{ content.descLarga| raw }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if subobjetivos %}
        {% for key, content in subobjetivos %}
            <div class="modal fade modal-video" id="modal-{{ content.name|lower|replace({' ':''}) }}"
                 index="-1" role="dialog"
                 aria-labelledby="modal-video-label">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-left">{{ content.name }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{ asset('uploads/popups/subobjetivos/'~content.imgModal) }}">
                                </div>
                                <div class="col-md-6 scrollDiv">
                                    {{ content.descLarga| raw }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}#}

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {

                $('#lblCiudad').text('Mejorar Nivel');

                $("#btnMejorarNivel").click(function () {
                    $('#lblCiudad').text('Mejorar Nivel');
                });
                $("#btnCertificación").click(function () {
                    $('#lblCiudad').text('Certificacion');
                });
                $("#btnEstudio").click(function () {
                    $('#lblCiudad').text('Estudio y Trabajo');
                });
                $("#btnAcademicos").click(function () {
                    $('#lblCiudad').text('Fines Academicos');
                });
                $("#btnProfesionales").click(function () {
                    $('#lblCiudad').text('Fines Profesionales');
                });
            });
        </script>
    {% endblock %}