{% extends "WebBundle::layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <style>
        .header {
            color: white;
            text-align: center !important;
            margin-top: -2px;
        }

        @media (max-width: 569px) {
            .header {
                font-size: 14px;
            }
        }

        @media (max-width: 506px) {
            .panel-primary > .panel-heading {
                height: 42px;
            }
        }

        .dvContent {
            height: 225px !important;
            overflow-y: scroll;
        }

        .pnlObservaciones {
            border: none !important;
            background-color: #ffffff;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        #dvCheckBox {
            border: 1px solid #fff;
            float: left;
            /*padding: 1px;*/
            /*margin: 20px;*/
        }

        label {
            background: #ddd;
            height: 25px;
            width: 25px;
            display: block;
        }

        label:hover {
            background: #ddd;
        }

        .scrollDiv {
            max-height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .dvSearch {
            padding: 5px 0;
            /*width: 230px;*/
            height: 30px;
            position: relative;
            /*left: -10px;*/
            float: right;
            line-height: 22px;
        }

        .dvSearch input {
            position: absolute;
            /*position: absolute;
            width: 0px;
            float: left;
            margin-left: 210px;*/
            -webkit-transition: all 0.7s ease-in-out;
            -moz-transition: all 0.7s ease-in-out;
            -o-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
            height: 30px;
            line-height: 18px;
            padding: 0 2px 0 2px;
            border-radius: 5px;
            margin-top: -12px;
            z-index: -1;
        }

        .dvSearch:hover input, .search input:focus {
            width: 200px;
            margin-left: -148px;
            z-index: 0;
        }

        .btn1 {
            height: 30px;
            position: absolute;
            right: 0;
            top: 5px;
            border-radius: 5px;
            margin-top: -12px;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div clas="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h4 class="header">¿Que idioma te interesa aprender?</h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dvSearch">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search"/>
                            <button type="submit" class="btn1 btn-success btn-sm"><span
                                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                        <!--<div class="search">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                            <button type="submit" class="btn1 btn-success btn-sm"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                        <h4 class="header">¿Que idioma te interesa aprender?</h4>-->
                    </div>
                    <div class="panel panel-body dvContent">
                        <ul class="nav nav-pills nav-stacked">
                            {% if idiomas %}
                                {% for key, idioma in idiomas %}
                                    {% set newKey = key + 1 %}
                                    <li role="presentation" class="active">
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                                 style="padding-top:10px; text-align:right !important;">
                                                <a data-toggle="modal" id="" href="#modal-{{ idioma.name|lower }}"
                                                   class="">
                                                    <img src="{{ asset('assets/images/icons/if_Info_728979.png') }}"
                                                         style="max-height:30px; max-width:30px;"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                                <a data-toggle="pill" id="btn{{ idioma.name }}" href="#{{ newKey }}"
                                                   class="list-group-item">
                                                    &nbsp;&nbsp;{{ idioma.name }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                No hay idiomas
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- NIVELES DE IDIOMAS -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">

                        <h4 class="header">Nivel de <span id="lblCiudad"></span></h4>
                    </div>
                    <div class="panel panel-body dvContent">
                        <div class="tab-content">

                            <!--Nivel de Alemán-->
                            <div role="tabpanel" class="tab-pane active" id="uno">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--Ciudades de Chino-->
                            <div role="tabpanel" class="tab-pane" id="dos">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--Ciudades de Coreano-->
                            <div role="tabpanel" class="tab-pane" id="tres">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--Ciudades de Frances-->
                            <div role="tabpanel" class="tab-pane" id="cuatro">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--Ciudades de Inglés-->
                            <div role="tabpanel" class="tab-pane" id="cinco">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--Ciudades de Ingles-Frances-->
                            <div role="tabpanel" class="tab-pane" id="seis">
                                <div class="row">
                                    <ul class="list-inline text-center">
                                        <li>
                                            Inglés
                                            <input type="checkbox" id="checkSyndey" name="cities" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkSyndey"></label>
                                            </div>
                                        </li>
                                        <li>
                                            Francés
                                            <input type="checkbox" id="checkBrisbane" name="cities" class="hidden"/>
                                            <div id="dvCheckBox">
                                                <label for="checkBrisbane"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--Ciudades de Italiano-->
                            <div role="tabpanel" class="tab-pane" id="siete">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--Ciudades de Japonés-->
                            <div role="tabpanel" class="tab-pane" id="ocho">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--Ciudades de Ruso-->
                            <div role="tabpanel" class="tab-pane" id="nueve">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Principiante
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Intermedio
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="presentation">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 style="padding-top:10px;">
                                                <a href="#" class="list-group-item">
                                                    &nbsp;&nbsp;Avanzado
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if idiomas_content %}
        {% for key, content in idiomas_content %}
            <!--Modal Ingles-Frances-->
            <div class="modal fade modal-video" id="modal-{{ content.idioma|lower }}" index="-1" role="dialog"
                 aria-labelledby="modal-video-label">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-left">{#<img src="{{ asset('assets/images/canada.png') }}">#}
                                {{ content.title }}
                            </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if content.image != null %}
                                        <img src="{{ asset(content.image.path) }}">
                                    {% endif %}
                                </div>
                                <div class="col-md-6 scrollDiv">
                                    {{ content.body| raw }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>
            $(document).ready(function () {
                $('#lblCiudad').text('Alemán');

                $("#btnAlemán").click(function () {
                    $('#lblCiudad').text('Alemán');
                });
                $("#btnChino").click(function () {
                    $('#lblCiudad').text('Chino');
                });
                $("#btnCoreano").click(function () {
                    $('#lblCiudad').text('Coreano');
                });
                $("#btnFrances").click(function () {
                    $('#lblCiudad').text('Francés');
                });
                $("#btnIngles").click(function () {
                    $('#lblCiudad').text('Ingles');
                });
                $("#btnInglesFrances").click(function () {
                    $('#lblCiudad').text('Idioma prioritario y su nivel');
                });
                $("#btnItaliano").click(function () {
                    $('#lblCiudad').text('Italiano');
                });
                $("#btnInglesJapones").click(function () {
                    $('#lblCiudad').text('Japones');
                });
                $("#btnRuso").click(function () {
                    $('#lblCiudad').text('Ruso');
                });
            });

        </script>

    {% endblock %}