{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12'>
            <div class="wrapper-contenido">
                <h1 class="subtitle">Paises</h1>
                <hr>
                <a href="{{ path('catpaisesescuelas_new') }}" class='btn btn-orange m-xs-r-2'><i
                            class='fa fa-plus m-xs-r-1'></i>Create
                    a new pais</a>
                <hr>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th>Paisdesc</th>
                        <th>Paisdesclarga</th>
                        {#<th>Pa01</th>
                        <th>Pa02</th>
                        <th>Pa03</th>
                        <th>Pa04</th>
                        <th>Pa05</th>
                        <th>Pa06</th>#}
                        {#<th>Pa07</th>
                        <th>Img Modal</th>#}
                        {#<th>Pa08</th>
                        <th>Pa09</th>
                        <th>Pa10</th>
                        <th>Pa11</th>
                        <th>Pa12</th>
                        <th>Pa13</th>#}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for catPaisesEscuela in catPaisesEscuelas %}
                        <tr>
                            <td>{{ catPaisesEscuela.paisDesc }}</td>
                            <td>{{ catPaisesEscuela.paisDescLarga|slice(0, 150) }}</td>
                            {#<td>{{ catPaisesEscuela.pa01 }}</td>
                            <td>{{ catPaisesEscuela.pa02 }}</td>
                            <td>{{ catPaisesEscuela.pa03 }}</td>
                            <td>{{ catPaisesEscuela.pa04 }}</td>
                            <td>{{ catPaisesEscuela.pa05 }}</td>
                            <td>{{ catPaisesEscuela.pa06 }}</td>#}
                            {#<td>{{ catPaisesEscuela.pa07 }}</td>
                            <td>{{ catPaisesEscuela.imgModal }}</td>#}
                            {#<td>{{ catPaisesEscuela.pa08 }}</td>
                            <td>{% if catPaisesEscuela.pa09 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catPaisesEscuela.pa10 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catPaisesEscuela.pa11 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catPaisesEscuela.pa12 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catPaisesEscuela.pa13 %}Yes{% else %}No{% endif %}</td>#}
                            <td class="text-center ico-actions">
                                <a href="{{ path('catpaisesescuelas_edit', {'idPais':catPaisesEscuela.idPais}) }}" class="ico-pencil m-xs-r-1">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('catpaisesescuelas_delete', {'idPais':catPaisesEscuela.idPais}) }}" class="ico-trash">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
