{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catpaisesescuela</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpais</th>
                <td>{{ catPaisesEscuela.idPais }}</td>
            </tr>
            <tr>
                <th>Paisdesc</th>
                <td>{{ catPaisesEscuela.paisDesc }}</td>
            </tr>
            <tr>
                <th>Paisdesclarga</th>
                <td>{{ catPaisesEscuela.paisDescLarga }}</td>
            </tr>
            <tr>
                <th>Pa01</th>
                <td>{{ catPaisesEscuela.pa01 }}</td>
            </tr>
            <tr>
                <th>Pa02</th>
                <td>{{ catPaisesEscuela.pa02 }}</td>
            </tr>
            <tr>
                <th>Pa03</th>
                <td>{{ catPaisesEscuela.pa03 }}</td>
            </tr>
            <tr>
                <th>Pa04</th>
                <td>{{ catPaisesEscuela.pa04 }}</td>
            </tr>
            <tr>
                <th>Pa05</th>
                <td>{{ catPaisesEscuela.pa05 }}</td>
            </tr>
            <tr>
                <th>Pa06</th>
                <td>{{ catPaisesEscuela.pa06 }}</td>
            </tr>
            <tr>
                <th>Pa07</th>
                <td>{{ catPaisesEscuela.pa07 }}</td>
            </tr>
            <tr>
                <th>Pa08</th>
                <td>{{ catPaisesEscuela.pa08 }}</td>
            </tr>
            <tr>
                <th>Pa09</th>
                <td>{% if catPaisesEscuela.pa09 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Pa10</th>
                <td>{% if catPaisesEscuela.pa10 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Pa11</th>
                <td>{% if catPaisesEscuela.pa11 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Pa12</th>
                <td>{% if catPaisesEscuela.pa12 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Pa13</th>
                <td>{% if catPaisesEscuela.pa13 %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catpaisesescuelas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catpaisesescuelas_edit', { 'idPais': catPaisesEscuela.idPais }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
