{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Edicion de Actividades</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 form-block">
            {{ form_start(edit_form, { attr: {novalidate: 'novalidate'} }) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Buscar por escuela &nbsp <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input type="text" class="form-control" placeholder="Buscar una escuela..." name="search" id="search-escuela">
                <ul id="result" class="list-unstyled">
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Escuela</label>
                <input type="text" class="form-control" name="escuela" id="escuela-dinamico" value="{{ actividad.escuela.escNombre }}">
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>File:</label>
                {{ form_widget(edit_form.file) }}
            </div>
            {% if actividad.image != null %}
                <div class="text-center m-xs-tb-2">
                    <a href="{{ asset(actividad.image.path) }}" target="_blank">Ver archivo</a>
                </div>
            {% endif %}
            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Guardar"/>
            </div>
            {{ form_end(edit_form) }}
        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('actividades_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver
                al listado</a>
        </div>
    </div>
{% endblock %}
