<header>
    {% set route  = app.request.attributes.get('_route') %}
    <nav class="navbar navbar-inverse {{ app.request.attributes.get('_route') != 'web_homepage' ? 'navbar-interno' : '' }} ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed {{ route == 'backend_login' or route == 'register_front' or route == 'login_check' or route == 'login' ? 'hidden' : '' }}"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{#{{ path('app_homepage')}}#}">
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                    IDIOMAS
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if app.user != null %}
                <ul class='nav navbar-nav navbar-right'>
                    <li class='dropdown'>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Bienvenido, {{ app.user.name }} {{ app.user.aPterno}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if app.user.role == 'ROLE_ADMIN' %}
                            <li>
                                <a href="{{ path('users_index') }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    &nbsp;Usuarios
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('idiomas_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    &nbsp;Idiomas
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('idiomacontent_index') }}">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    &nbsp;Contenido de Idiomas
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('catpaisesescuelas_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    &nbsp;Paises
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('catciudadesescuelas_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    &nbsp;Ciudades
                                </a>
                            </li>
                            {#<li>
                                <a href="{{ path('objetivos_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    &nbsp;Objetivos
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('alojamientos_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    &nbsp;Alojamientos
                                </a>
                            </li>#}
                            <li>
                                <a href="{{ path('catescuelas_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    Escuelas
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('blocks_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    Ficha Escuela
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('catcursos_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    Cursos
                                </a>
                            </li>
                         {#   <li>
                                <a href="{{ path('cursocontent_index') }}">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    &nbsp;Contenido de Cursos
                                </a>
                            </li>#}
                            {#<li>
                                <a href="{{ path('actividades_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    &nbsp;Actividades
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('photogallery_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    &nbsp;Fotogalería
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('videos_index') }}">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    &nbsp;Videos
                                </a>
                            </li>#}
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ path('logout') }}">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                    &nbsp;Salir
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

