<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>
            {% block title %} Idiomas {% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon1.ico') }}" />

        {% block stylesheets %}
            {#<link rel="stylesheet" href="{{asset('admin/assets/font-avenir/style.css')}}"/>#}
            <link rel="stylesheet" href="{{asset('admin/assets/font-awesome/css/font-awesome.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('admin/assets/bootstrap/css/bootstrap.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('admin/assets/css/dataTables.bootstrap.css')}}"/>
            <link rel="stylesheet" href="{{asset('admin/assets/datepicker/css/bootstrap-datepicker.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('admin/assets/css/zetter.css')}}"/>
            <link rel="stylesheet" href="{{asset('admin/assets/css/bootstrap.cosmo.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('admin/assets/font-avenir/style.css')}}"/>
            <link rel="stylesheet" href="{{asset('admin/assets/css/styles.css')}}"/>
            <link rel="stylesheet" href="{{asset('admin/assets/css/mediaqueries.css')}}"/>
        {% endblock %}
    </head>
    <body>
        {% include 'AdminBundle:Default:header.html.twig' %}

        <section class='main-wrap {{ app.request.getSchemeAndHttpHost() }} '>
            <div class='{{app.request.attributes.get('_route') == 'backend_login'
                           or app.request.attributes.get('_route') == 'login' 
                           or app.request.attributes.get('_route') == 'forgot-password'
                           or app.request.attributes.get('_route') == 'checkout-password' ? 'container-fluid' : 'container' }}'>
                {% block content %}
                {% endblock %}
            </div>
        </section>
        
        {% block javascripts %}
            <script type="text/javascript">
                var URL = "{{ app.request.getSchemeAndHttpHost() }}/app_dev.php";
            </script>
            <script src="{{asset('admin/assets/js/jquery.min.js')}}"></script>
            <script src="{{asset('admin/assets/bootstrap/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('admin/assets/js/jquery.dataTables.min.js')}}"></script>
            <script src="{{asset('admin/assets/js/dataTables.bootstrap.min.js')}}"></script>
            <script src="{{asset('admin/assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
            <script src="{{asset('admin/assets/datepicker/locales/bootstrap-datepicker.es.min.js')}}"></script>
            <script src="{{asset('admin/assets/validate/jquery.validate.min.js')}}"></script>
            <script src="{{asset('admin/assets/validate/additional-methods.min.js')}}"></script>
            <script src="{{asset('admin/assets/validate/localization/messages_es.min.js')}}"></script>
            <script src="{{asset('admin/assets/js/custom/main.js')}}"></script>
        {% endblock %}
    </body>
</html>

