{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Edicion de Bloque</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 form-block">
            {{ form_start(edit_form) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Buscar por escuela &nbsp; <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input type="text" class="form-control" placeholder="Buscar una escuela..." name="search" id="search-escuela">
                <ul id="result" class="list-unstyled">
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Escuela</label>
                <input type="text" class="form-control" name="escuela" id="escuela-dinamico" value="{{ block.escuela }}">
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Sede</label>
                <input type="text" class="form-control" name="sede" id="sede-dinamico" value="{{ block.escuela.idCiudad }}">
                <input type="hidden" class="form-control" name="pais" id="pais-dinamico" value="{{ block.escuela.idPais }}">
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Seccion:</label>
                {{form_widget(edit_form.seccion)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Name:</label>
                {{form_widget(edit_form.nameBlockOne)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Contenido:</label>
                {{form_widget(edit_form.contenBlockOne)}}
            </div>

            <div id="blocks-extras">
                <div class='form-group col-md-12'>
                    <label class='control-label'>Nombre del bloque:</label>
                    {{ form_widget(edit_form.nameBlockSecond) }}
                </div>
                <div class='form-group col-md-12'>
                    <label class='control-label'>Contenido:</label>
                    {{ form_widget(edit_form.contenBlockSecond) }}
                </div>
                <div class='form-group col-md-12'>
                    <label class='control-label'>Nombre del bloque:</label>
                    {{ form_widget(edit_form.nameBlockThird) }}
                </div>
                <div class='form-group col-md-12'>
                    <label class='control-label'>Contenido:</label>
                    {{ form_widget(edit_form.contenBlockThird) }}
                </div>
            </div>

            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Editar" />
            </div>
            {{ form_end(edit_form) }}

        </div>
        <div class="pull-right">
            <a class="btn-underline" href="{{ path('blocks_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver al listado</a>
        </div>
    </div>
{% endblock %}