{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12'>
            <div class="wrapper-contenido">
                <h1 class="subtitle">Fichas Escuela</h1>
                <hr>
                <a href="{{ path('blocks_new') }}" class='btn btn-orange m-xs-r-2'><i class='fa fa-plus m-xs-r-1'></i>Create
                    a new ficha</a>
                <a href="{{ path('photogallery_index') }}" class='btn btn-orange m-xs-r-2'><i
                            class='fa fa-plus m-xs-r-1'></i>Create
                    a new multimedia</a>
                <hr>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        {#<th>Content</th>#}
                        <th>Name</th>
                        {#<th>Content</th>#}
                        <th>Name</th>
                        {#<th>Content</th>#}
                        <th>Seccion</th>
                        <th>Escuela</th>
                        <th>Ciudad</th>
                        <th>Pais</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for block in blocks %}
                        <tr>
                            <td>{{ block.nameBlockOne }}</td>
                            {# <td>{{ block.contenBlockOne }}</td>#}
                            <td>{% if block.nameBlockSecond != null %}{{ block.nameBlockSecond }} {% endif %}</td>
                            {#<td>{% if block.contenBlockSecond != null %}{{ block.contenBlockSecond }} {% endif %}</td>#}
                            <td>{% if block.nameBlockThird != null %}{{ block.nameBlockThird }} {% endif %}</td>
                            {#<td>{% if block.contenBlockThird != null %} {{ block.contenBlockThird }} {% endif %}</td>#}
                            <td>{{ block.seccion }}</td>
                            <td>{{ block.escuela }}</td>
                            <td>{% if block.escuela != null %} {{ block.escuela.idCiudad.ciudadDesc }} {% endif %}</td>
                            <td>{% if block.escuela != null %} {{ block.escuela.idCiudad.idPais.paisDesc }} {% endif %}</td>
                            <td class="text-center ico-actions">
                                <a href="{{ path('blocks_edit', {'id':block.id}) }}" class="ico-pencil m-xs-r-1">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                {#{% if block.seccion == 'Fotos_Y_Videos' and block.seccion is defined %}
                                    <a href="{{ path('blocks_edit', {'id':block.id}) }}" class="ico-multimedia m-xs-r-1">
                                        <span class="fa fa-image" aria-hidden="true"></span>
                                    </a>
                                {% endif %}#}
                                <a href="{{ path('blocks_delete', {'id':block.id}) }}" class="ico-trash">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
