{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Alta de Fichas Escuela</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 form-block">
            {{ form_start(form) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Buscar por escuela &nbsp <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input type="text" class="form-control" placeholder="Buscar una escuela..." name="search"
                       id="search-escuela">
                <ul id="result" class="list-unstyled">
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Escuela:</label>
                <input type="text" class="form-control" name="escuela" id="escuela-dinamico">
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Sede:</label>
                <input type="text" class="form-control" name="sede" id="sede-dinamico">
                <input type="hidden" class="form-control" name="pais" id="pais-dinamico" required>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Seccion:</label>
                {{ form_widget(form.seccion) }}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Nombre del bloque:</label>
                {{ form_widget(form.nameBlockOne) }}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Contenido:</label>
                {{ form_widget(form.contenBlockOne) }}
            </div>

            <div id="blocks-extras">
                <div class='form-group col-md-12'>
                    <label class='control-label'>Nombre del bloque:</label>
                    {{ form_widget(form.nameBlockSecond) }}
                </div>
                <div class='form-group col-md-12'>
                    <label class='control-label'>Contenido:</label>
                    {{ form_widget(form.contenBlockSecond) }}
                </div>
                <div class='form-group col-md-12'>
                    <label class='control-label'>Nombre del bloque:</label>
                    {{ form_widget(form.nameBlockThird) }}
                </div>
                <div class='form-group col-md-12'>
                    <label class='control-label'>Contenido:</label>
                    {{ form_widget(form.contenBlockThird) }}
                </div>
            </div>

            <div class='form-group text-center {#file-disabled#}' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Guardar"/>
            </div>
            {{ form_end(form) }}

        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('blocks_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver
                al listado</a>
        </div>
    </div>
{% endblock %}
