<!-- OBSERVACIONES -->
{% set route = app.request.attributes.get('_route') %}
{% if route !=  'web_homepage' and route !=  'web_idiomas5' and route !=  'web_busqueda_general'  %}
    <div class="row bgImage" style="width:100% !important;">
        <div class="container">
            <div class="container" style="">
                <div class="panel panel-primary pnlObservaciones">
                    <div class="panel panel-heading">
                        <h4 class="header">Observaciones</h4>
                    </div>
                    <div class="panel panel-body">
                        <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment"
                                  style="margin-top:-20px; margin-bottom:-20px;"></textarea>
                        </div>
                    </div>
                    <a href="idiomas2.html"><input type="button" value="Siguiente" class="btn btn-primary pull-right"/></a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<footer>
    <section class="std bottom-bar">
        <div class="container">
            <ul>
                <li><a href="">Derechos Reservados</a></li>
                <li><a href="">Aviso de Privacidad</a></li>
            </ul>
        </div>
    </section>
</footer>