{% set route = app.request.attributes.get('_route') %}

{% if route == 'web_busqueda_general' %}
{% else %}
    {% if route !=  'web_homepage' %}
        <!-- MENU INTERNO -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="col-md-3" height="100px">
                        <a class="navbar-brand" href="{{ path('web_homepage') }}"><img
                                    src="{{ asset('assets/images/logoidiomas.png') }}"></a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right" style="margin-top:3px;">
                        <li class="">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('web_homepage') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Estudiante</button>
                                    </a></li>
                                <li><a href="{{ path('web_homepage') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Licenciatura</button>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('web_idiomas1') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Inglés</button>
                                    </a></li>
                                <li><a href="{{ path('web_idiomas1') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Intermedio</button>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('web_idiomas2') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Canadá</button>
                                    </a></li>
                                <li><a href="{{ path('web_idiomas2') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Toronto</button>
                                    </a></li>
                                <li><a href="{{ path('web_idiomas2') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Vancouver</button>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('web_idiomas3') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Certificación</button>
                                    </a></li>
                                <li><a href="{{ path('web_idiomas3') }}">
                                        <button type="submit" class="btn btn-default btn-xs">TOEFL</button>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('web_idiomas4') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Diciembre 2018</button>
                                    </a></li>
                                <li><a href="{{ path('web_idiomas4') }}">
                                        <button type="submit" class="btn btn-default btn-xs">11 semanas</button>
                                    </a></li>
                                <li><a href="{{ path('web_idiomas4') }}">
                                        <button type="submit" class="btn btn-default btn-xs">Apartamento</button>
                                    </a></li>
                            </ul>
                        </li>

                        <li class=""><a href="{{ path('web_homepage') }}"><img
                                        src="{{ asset('assets/images/logoUE.png') }}"></a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% else %}
        <nav class="navbar navbar-default navue">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar"
                                    aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand2" href="#"><img
                                        src="{{ asset('assets/images/logoPerfil.png') }}"></a>
                            <p class="slogan">UNIVERSO EDUCATIVO</p>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="single"><a href="{{ path('web_idiomas1') }}"><img
                                                        src="{{ asset('assets/images/icons/idiomas.png') }}" alt="">
                                                IDIOMAS</a>
                                        </li>
                                        <li class="single"><a href=""><img
                                                        src="{{ asset('assets/images/icons/highschool.png') }}" alt="">
                                                HIGH
                                                SCHOOL</a></li>
                                        <li class="single"><a href=""><img
                                                        src="{{ asset('assets/images/icons/camps.png') }}"
                                                        alt=""> CAMPS</a></li>
                                        <li class="single"><a href=""><img
                                                        src="{{ asset('assets/images/icons/educacionsuperior.png') }}"
                                                        alt="">
                                                EDUCACION SUPERIOR</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- row -->
            </div><!-- container -->
        </nav><!-- nav -->
    {% endif %}
{% endif %}

