{% extends "WebBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
                <img src="images/ni%C3%B1a.png">
            </div>
            <div class="visible-xs visible-sm col-xs-12 col-sm-12">
                <img src="images/xs_visible.png" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-push-1 col-md-8 col-md-push-1 col-lg-8 col-lg-push-1">
                <div class="content">
                    <form class="contact-form">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="text-primary" style="text-align:center;">Registrar</h3>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-12 col-lg-12">
                            <div class="row" style="text-align:center !important;">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-inline">
                                        <label for="ID" class="control-label">ID:</label>
                                        <input type="text" class="form-control" id="ID"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-inline">
                                        <label for="folioWeb" class="control-label">Folio Web:</label>
                                        <input type="text" class="form-control" id="folioWeb"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre(s)">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="apellido"
                                               placeholder="Apellido Paterno">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="apellido"
                                               placeholder="Apellido Materno">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="apellido"
                                               placeholder="Tel.domicilio">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="apellido" placeholder="Celular">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="apellido" placeholder="Correo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">¿A que te dedicas?</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">¿Dónde?</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">¿Cuál es tu nivel de estudios?</option>
                                            <option value="">¿CuG?</option>
                                            <option value="">¿Cuál GGHel de estudios?</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">¿Documentos que lo acrediten?</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tutorData">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h3 class="text-primary">Datos del tutor&nbsp;<small class="text-danger">Obligatorio
                                            si es menor de edad
                                        </small>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Tutor_FullName"
                                               placeholder="Nombre Completo *">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Tutor_Phone"
                                               placeholder="Teléfono *">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Tutor_Mobile"
                                               placeholder="Celular *">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Tutor_Email" placeholder="Correo *">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:10px;">
                            <div class="row">
                                <input type="submit" class="btn btn-sm btn-primary btn-rounded pull-right"
                                       value="Guardar"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/ue.js') }}"></script>
{% endblock %}
