{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Editar Ciudad</h2>
            <hr/>
            {% for message in app.session.flashBag().get('status') %}
                <div class='alert alert-danger alert-dismissible' role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            {% if content.image != null and content.image != 'NULL' %}
                <a href="{{ asset("uploads/banderas/ciudades/"~content.image) }}" target="_blank">Ver archivo</a>
            {% endif %}
            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Editar"/>
            </div>
            {{ form_end(edit_form) }}
        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('ciudades_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver
                al
                listado</a>
        </div>
    </div>
{% endblock %}
