{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ciudadcontent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ciudadContent.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ciudadContent.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ ciudadContent.body }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ ciudadContent.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ciudadcontent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ciudadcontent_edit', { 'id': ciudadContent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
