{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class='col-xs-12 text-center photogallery-wrap'>
            <h2>Edicion de Fotos Gallery</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 form-block" id="gallery-wrapper">
            {{ form_start(edit_form, { attr: {novalidate: 'novalidate'} }) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Buscar por escuela &nbsp <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input type="text" class="form-control" placeholder="Buscar una escuela..." name="search"
                       id="search-escuela">
                <ul id="result" class="list-unstyled">
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Escuela</label>
                <input type="text" class="form-control" name="escuela" id="escuela-dinamico"
                       value="{{ photogallery.escuela.escNombre }}">
                <input type="hidden" class="form-control" name="sede" id="sede-dinamico" value="{{ sede }}">
                <input type="hidden" class="form-control" name="pais" id="pais-dinamico" value="{{ pais }}">
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Seccion</label>
                {{ form_widget(edit_form.seccion) }}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Files Actividades:</label>
                {% if photogallery.image != null %}
                    <div class="row">
                        {% for media in photogallery.image %}
                            {% if media.type == 'actividades' %}
                                <div class="col-xs-4 m-xs-tb-1">
                                    <img src="{{ asset(media.path) }}" alt="" class="img-responsive">
                                    <a href="#" class="hidden remove-img-photogallery" data-entity="photogallery"></a>
                                    <button class="img-close" id="delete-img-device" data-id="{{ media.id }}"
                                            data-photogallery-id="{{ photogallery.id }}">
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <ul class="files-actividades" data-prototype="{{ form_widget(edit_form.fileActividad.vars.prototype)|e('html_attr') }}">
                    {% for element in edit_form.fileActividad %}
                        <li>
                            {{ form_widget(element.name) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Files Galería:</label>
                {% if photogallery.image != null %}
                    <div class="row">
                        {% for media in photogallery.image %}
                            {% if media.type == 'photogallery' %}
                                <div class="col-xs-4 m-xs-tb-1">
                                    <img src="{{ asset(media.path) }}" alt="" class="img-responsive">
                                    <a href="#" class="hidden remove-img-photogallery" data-entity="photogallery"></a>
                                    <button class="img-close" id="delete-img-device" data-id="{{ media.id }}"
                                            data-photogallery-id="{{ photogallery.id }}">
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <ul class="files-galerias" data-prototype="{{ form_widget(edit_form.fileGaleria.vars.prototype)|e('html_attr') }}">
                    {% for element in edit_form.fileGaleria %}
                        <li>
                            {{ form_widget(element.name) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Files Video:</label>
                {% if photogallery.video != null %}
                    <div class="row">
                        {% for media in photogallery.video %}
                            <div class="col-xs-4 m-xs-tb-1">
                                <a href="#" class="thumbnail">
                                    {{ media.src|raw }}
                                    <button class="img-close-video" id="delete-video-device" data-id="{{ media.id }}"
                                            data-photogallery-id="{{ photogallery.id }}">
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href="#" class="hidden remove-img-photogallery" data-entity="photogallery"></a>

                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <ul class="files-videos" data-prototype="{{ form_widget(edit_form.video.vars.prototype)|e('html_attr') }}">
                    {% for element in edit_form.video %}
                        <li>
                            {{ form_widget(element.src) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Guardar"/>
            </div>
            {{ form_end(edit_form) }}
        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('photogallery_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver
                al listado</a>
        </div>
    </div>
{% endblock %}
