{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12'>
            <div class="wrapper-contenido">
                <h1 class="subtitle">Multimedia</h1>
                <hr>
                <a href="{{ path('photogallery_new') }}" class='btn btn-orange m-xs-r-2'><i
                            class='fa fa-plus m-xs-r-1'></i>Create
                    a new multimedia</a>
                <hr>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th>Escuela</th>
                        <th>Ciudad</th>
                        <th>Pais</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for gallery in photogalleries %}
                        <tr class="{{ gallery.escuela == null ? 'hidden'  }}">
                            <td>
                                {% if gallery.escuela != null %}
                                    {{ gallery.escuela.escNombre }}
                                {% endif %}
                            </td>
                            <td>
                                {% if gallery.escuela != null %}
                                    {{ gallery.escuela.idCiudad }}
                                {% endif %}
                            </td>
                            <td>
                                {% if gallery.escuela != null %}
                                    {{ gallery.escuela.idCiudad.idPais }}
                                {% endif %}
                            </td>
                            <td class="text-center ico-actions">
                                <a href="{{ path('photogallery_edit', { 'id': gallery.id }) }}"
                                   class="ico-pencil m-xs-r-1">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('photogallery_delete', { 'id': gallery.id }) }}" class="ico-trash">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
