{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Alta de Multimedia</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 form-block" id="gallery-wrapper">
            {{ form_start(form) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Buscar por escuela &nbsp <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input type="text" class="form-control" placeholder="Buscar una escuela..." name="search" id="search-escuela">
                <ul id="result" class="list-unstyled">
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Escuela</label>
                <input type="text" class="form-control" name="escuela" id="escuela-dinamico" required>
                <input type="hidden" class="form-control" name="sede" id="sede-dinamico" required>
                <input type="hidden" class="form-control" name="pais" id="pais-dinamico" required>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Seccion:</label>
                {{ form_widget(form.seccion) }}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>File Actividad:</label>
                {#{{ form_widget(form.fileActividad) }}#}
                <ul class="files-actividades" data-prototype="{{ form_widget(form.fileActividad.vars.prototype)|e('html_attr') }}">
                    {% for element in form.fileActividad %}
                        <li>
                            {{ form_widget(element.name) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>File Galería:</label>
                {#{{ form_widget(form.fileGaleria) }}#}
                <ul class="files-galerias" data-prototype="{{ form_widget(form.fileGaleria.vars.prototype)|e('html_attr') }}">
                    {% for element in form.fileGaleria %}
                        <li>
                            {{ form_widget(element.name) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>File Video:</label>
                {#{{ form_widget(form.video) }}#}
                <ul class="files-videos" data-prototype="{{ form_widget(form.video.vars.prototype)|e('html_attr') }}">
                    {% for element in form.video %}
                        <li>
                            {{ form_widget(element.src) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Guardar"/>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('photogallery_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver
                al listado</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script lang="javascript" type="text/javascript">
        var $collectionHolder1;
        var $collectionHolder2;
        var $collectionHolder3;

        // setup an "add a tag" link
        var $addTagLink1 = $('<a href="#" class="add_tag_link_1">Add a file</a>');
        var $newLinkLi1 = $('<li></li>').append($addTagLink1);

        var $addTagLink2 = $('<a href="#" class="add_tag_link_2">Add a file</a>');
        var $newLinkLi2 = $('<li></li>').append($addTagLink2);

        var $addTagLink3 = $('<a href="#" class="add_tag_link_3">Add a file</a>');
        var $newLinkLi3 = $('<li></li>').append($addTagLink3);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder1 = $('ul.files-actividades');
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder1.append($newLinkLi1);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder1.data('index', $collectionHolder1.find(':input').length);
            $addTagLink1.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addTagForm1($collectionHolder1, $newLinkLi1);
            });

            // Get the ul that holds the collection of tags
            $collectionHolder2 = $('ul.files-galerias');
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder2.append($newLinkLi2);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder2.data('index', $collectionHolder2.find(':input').length);
            $addTagLink2.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addTagForm2($collectionHolder2, $newLinkLi2);
            });

            // Get the ul that holds the collection of tags
            $collectionHolder3 = $('ul.files-videos');
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder3.append($newLinkLi3);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder3.data('index', $collectionHolder3.find(':input').length);
            $addTagLink3.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addTagForm3($collectionHolder3, $newLinkLi3);
            });
        });

        function addTagForm1($collectionHolder1, $newLinkLi1) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder1.data('prototype');
            // get the new index
            var index = $collectionHolder1.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder1.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi1.before($newFormLi);
        }

        function addTagForm2($collectionHolder2, $newLinkLi2) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder2.data('prototype');
            // get the new index
            var index = $collectionHolder2.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder2.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi2.before($newFormLi);
        }

        function addTagForm3($collectionHolder3, $newLinkLi3) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder3.data('prototype');
            // get the new index
            var index = $collectionHolder3.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder3.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi3.before($newFormLi);
        }
    </script>#}
{% endblock %}