{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Editar Escuela</h2>
            <hr/>
            {% for message in app.session.flashBag().get('status') %}
                <div class='alert alert-danger alert-dismissible' role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6 col-md-offset-3">
            {{ form_start(edit_form, { attr: {novalidate: 'novalidate'} }) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Nombre:</label>
                {{form_widget(edit_form.escNombre)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Nombre Corto:</label>
                {{form_widget(edit_form.escNombreCorto)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Selecciona un Pais</label>
                <select class='form-control' name="pais" id="pais">
                    <option value="{{content.idCiudad.idPais.idPais}}"  selected="selected">{{ content.idCiudad.idPais }}</option>
                    {% for pais in paises %}
                        <option value="{{pais.idPais}}">{{ pais.paisDesc }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Selecciona una Ciudad</label>
                <select class='form-control' name="ciudad" id='ciudad'>
                    <option value="{{content.idCiudad.idCiudad}}"  selected="selected">{{ content.idCiudad }}</option>
                    <option disabled>-Escoge una opcion-</option>
                </select>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Imagen:</label>
                {{form_widget(edit_form.esc19)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Imagen Banner:</label>
                {{form_widget(edit_form.banner)}}
            </div>
            <div class="form-group text-center">
                {% if content.esc19 != null%}
                    <a href="{{ asset(content.esc19.path) }}" target="_blank">Ver logo</a>
                {% endif %}
                {% if content.banner != null %}
                    <a href="{{ asset(content.banner.path) }}" target="_blank">Ver banner</a>
                {% endif %}
            </div>
            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Editar"/>
            </div>
            {{ form_end(edit_form) }}
        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('catescuelas_index') }}"><i
                        class='fa fa-arrow-left m-xs-r-1'></i>Volver
                al
                listado</a>
        </div>
    </div>
{% endblock %}
