{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12'>
            <div class="wrapper-contenido">
                <h1 class="subtitle">Escuelas</h1>
                <hr>
                <a href="{{ path('catescuelas_new') }}" class='btn btn-orange m-xs-r-2'><i
                            class='fa fa-plus m-xs-r-1'></i>Create
                    a new escuela</a>
                <hr>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th>Escnombre</th>
                        <th>Escnombrecorto</th>
                        <th>Pais</th>
                        <th>Ciudad</th>
                        {#<th>Idmon</th>
                        <th>Esc01</th>
                        <th>Esc02</th>
                        <th>Esc03</th>
                        <th>Esc04</th>
                        <th>Esc05</th>
                        <th>Esc06</th>
                        <th>Esc07</th>
                        <th>Esc08</th>
                        <th>Esc09</th>
                        <th>Esc10</th>
                        <th>Esc11</th>
                        <th>Esc12</th>
                        <th>Esc13</th>
                        <th>Esc14</th>
                        <th>Esc15</th>
                        <th>Esc16</th>
                        <th>Esc17</th>
                        <th>Esc18</th>
                        <th>Esc19</th>
                        <th>Esc20</th>
                        <th>Esc21</th>
                        <th>Esc22</th>
                        <th>Esc23</th>
                        <th>Esc24</th>
                        <th>Esc25</th>
                        <th>Esc26</th>
                        <th>Esc27</th>
                        <th>Esc28</th>
                        <th>Esc29</th>
                        <th>Esc30</th>#}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for catEscuela in catEscuelas %}
                        <tr>
                            <td>{{ catEscuela.escNombre }}</td>
                            <td>{{ catEscuela.escNombreCorto }}</td>
                            <td>{{ catEscuela.idPais }}</td>
                            <td>{{ catEscuela.idCiudad }}</td>
                            {#<td>{% if catEscuela.idMon %}Yes{% else %}No{% endif %}</td>
                            <td>{{ catEscuela.esc01 }}</td>
                            <td>{{ catEscuela.esc02 }}</td>
                            <td>{% if catEscuela.esc03 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc04 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc05 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc06 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc07 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc08 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc09 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc10 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc11 %}Yes{% else %}No{% endif %}</td>
                            <td>{{ catEscuela.esc12 }}</td>
                            <td>{% if catEscuela.esc13 %}Yes{% else %}No{% endif %}</td>
                            <td>{{ catEscuela.esc14 }}</td>
                            <td>{{ catEscuela.esc15 }}</td>
                            <td>{{ catEscuela.esc16 }}</td>
                            <td>{{ catEscuela.esc17 }}</td>
                            <td>{{ catEscuela.esc18 }}</td>
                            <td>{{ catEscuela.esc19 }}</td>
                            <td>{{ catEscuela.esc20 }}</td>
                            <td>{{ catEscuela.esc21 }}</td>
                            <td>{% if catEscuela.esc22 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc23 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc24 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc25 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc26 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc27 %}Yes{% else %}No{% endif %}</td>
                            <td>{{ catEscuela.esc28 }}</td>
                            <td>{% if catEscuela.esc29 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catEscuela.esc30 %}Yes{% else %}No{% endif %}</td>#}
                            <td class="text-center ico-actions">
                                <a href="{{ path('catescuelas_edit', {'idEscuela':catEscuela.idEscuela}) }}" class="ico-pencil m-xs-r-1">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('catescuelas_delete', {'idEscuela':catEscuela.idEscuela}) }}" class="ico-trash">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
