{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catescuela</h1>

    <table>
        <tbody>
            <tr>
                <th>Idescuela</th>
                <td>{{ catEscuela.idEscuela }}</td>
            </tr>
            <tr>
                <th>Escnombre</th>
                <td>{{ catEscuela.escNombre }}</td>
            </tr>
            <tr>
                <th>Escnombrecorto</th>
                <td>{{ catEscuela.escNombreCorto }}</td>
            </tr>
            <tr>
                <th>Idmon</th>
                <td>{% if catEscuela.idMon %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc01</th>
                <td>{{ catEscuela.esc01 }}</td>
            </tr>
            <tr>
                <th>Esc02</th>
                <td>{{ catEscuela.esc02 }}</td>
            </tr>
            <tr>
                <th>Esc03</th>
                <td>{% if catEscuela.esc03 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc04</th>
                <td>{% if catEscuela.esc04 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc05</th>
                <td>{% if catEscuela.esc05 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc06</th>
                <td>{% if catEscuela.esc06 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc07</th>
                <td>{% if catEscuela.esc07 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc08</th>
                <td>{% if catEscuela.esc08 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc09</th>
                <td>{% if catEscuela.esc09 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc10</th>
                <td>{% if catEscuela.esc10 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc11</th>
                <td>{% if catEscuela.esc11 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc12</th>
                <td>{{ catEscuela.esc12 }}</td>
            </tr>
            <tr>
                <th>Esc13</th>
                <td>{% if catEscuela.esc13 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc14</th>
                <td>{{ catEscuela.esc14 }}</td>
            </tr>
            <tr>
                <th>Esc15</th>
                <td>{{ catEscuela.esc15 }}</td>
            </tr>
            <tr>
                <th>Esc16</th>
                <td>{{ catEscuela.esc16 }}</td>
            </tr>
            <tr>
                <th>Esc17</th>
                <td>{{ catEscuela.esc17 }}</td>
            </tr>
            <tr>
                <th>Esc18</th>
                <td>{{ catEscuela.esc18 }}</td>
            </tr>
            <tr>
                <th>Esc19</th>
                <td>{{ catEscuela.esc19 }}</td>
            </tr>
            <tr>
                <th>Esc20</th>
                <td>{{ catEscuela.esc20 }}</td>
            </tr>
            <tr>
                <th>Esc21</th>
                <td>{{ catEscuela.esc21 }}</td>
            </tr>
            <tr>
                <th>Esc22</th>
                <td>{% if catEscuela.esc22 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc23</th>
                <td>{% if catEscuela.esc23 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc24</th>
                <td>{% if catEscuela.esc24 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc25</th>
                <td>{% if catEscuela.esc25 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc26</th>
                <td>{% if catEscuela.esc26 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc27</th>
                <td>{% if catEscuela.esc27 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc28</th>
                <td>{{ catEscuela.esc28 }}</td>
            </tr>
            <tr>
                <th>Esc29</th>
                <td>{% if catEscuela.esc29 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Esc30</th>
                <td>{% if catEscuela.esc30 %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catescuelas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catescuelas_edit', { 'idEscuela': catEscuela.idEscuela }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
