{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objetivo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objetivo.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ objetivo.name }}</td>
            </tr>
            <tr>
                <th>Desclarga</th>
                <td>{{ objetivo.descLarga }}</td>
            </tr>
            <tr>
                <th>Imgmodal</th>
                <td>{{ objetivo.imgModal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objetivos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('objetivos_edit', { 'id': objetivo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
