{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Alta de Alojamientos</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Guardar" />
            </div>
            {{ form_end(form) }}
        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('alojamientos_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver al listado</a>
        </div>
    </div>
{% endblock %}