{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alojamiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alojamiento.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ alojamiento.name }}</td>
            </tr>
            <tr>
                <th>Desclarga</th>
                <td>{{ alojamiento.descLarga }}</td>
            </tr>
            <tr>
                <th>Imgmodal</th>
                <td>{{ alojamiento.imgModal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alojamientos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('alojamientos_edit', { 'id': alojamiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
