/*
    Created on : Jul 11, 2015, 2:46:27 AM
    Author     : ZER0
*/
/*iPad in portrait & landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .form-register-front .form-control{
        width: 100% !important;
    }
}

/*iPad in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .form-login {
        width: 24%;
        right: 32%;
        top: 50%;
        transform: translate(32%,-50%);
    }
}

/*iPad in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .paquete-wrap > div{
        width: 132px;
    }
    .paquete-wrap > div h3 {
        font-size: 19px;
    }
    .paquete-wrap > div h2 {
        font-size: 22px;
    }
    .paquete-wrap .form-control {
        height: 39px !important;
    }
    .form-login {
        width: 37%;
        right: 22%;
        top: 50%;
        transform: translate(22%,-50%);
    }
    .btn-reg{
        margin-right: 14px;
    }
    .recaptcha-wrap{
        margin-left: 15% !important;
    }
}

/*iPad 3 & 4 Media Queries*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/*Retina iPad in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/*Retina iPad in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */ }

/*iPad 1 & 2 Media Queries*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){ /* STYLES GO HERE */}

/*iPad 1 & 2 in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

/*iPad 1 & 2 in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) { /* STYLES GO HERE */ }

/*iPhone 6 in portrait & landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { /*STYLE GO HERE*/ }

/*iPhone 6 in landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 6 in portrait*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 6 Plus in portrait & landscape*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { /* STYLES GO HERE */}

/*iPhone 6 Plus in landscape*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 6 Plus in portrait*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 5 & 5S in portrait & landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { /* STYLES GO HERE */}

/*iPhone 5 & 5S in landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 5 & 5S in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 2G-4S in portrait & landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { /* STYLES GO HERE */}

/*iPhone 2G-4S in landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 2G-4S in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) { /* STYLES GO HERE */ }



/*Phones*/
@media only screen and (max-device-width : 736px){
    /* HEADER */
    .logo {
        width: 20rem;
        height: 4.7rem;
    }
    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus{
        background-color: #000;
    }
    .navbar-inverse .navbar-collapse{
        border-color: #dddddd;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #808285;
    }
    .dropdown-menu .divider{
        margin: 0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #dddddd;
    }
    .dropdown.dropdown-linear{
        padding-left: 0;
    }
    ul.dropdown li:hover > a::before {
        content: "";
        display: block;
        position: relative;
        height: 0;
    }
    ul.dropdown li{
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }
    ul.dropdown ul{
        position: relative;
        display: none;
        visibility: visible;
    }
    ul.dropdown-linear li:hover ul {
        display: block;
    }
    /* HEADER */

    /* TABLES */
    #myTable_length,
    #myTable_info,
    #myTable-alpha-g_info{
        margin: 1rem auto;
    }
    /* TABLES */

    /* WEB*/


    .body-image,
    .bg-pass{
        background-size: cover;
    }
    .form-login{
        margin: 10% auto;
    }
    .form-login {
        width: 60%;
    }
    .form-login label, .form-login .btn {
        font-size: 2rem;
        /*font-weight: 900;*/
        color: #fff;
    }
    .form-pass label, .form-pass .btn {
        font-size: 2rem;
        /*font-weight: 900;*/
        color: #fff;
    }
    .form-pass{
        right: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-pass input.form-control[type="email"]{
        width: 100%;
    }

    .form-pass .btn-login{
        padding: 8px 30px;
    }

    .form-pass h2{
        font-size: 2rem;
        font-weight: 900;
    }

    .grade-wrap h2{
        font-size: 2.6rem;
    }
    .grade-wrap .ico-check {
        position: absolute;
        right: 3%;
        top: 40%;
        transform: translate(-3%,-40%);
    }
    .ico-file-wrap {
        display: block;
        vertical-align: top;
        text-align: left;
        margin-right: 0;
        width: auto;
    }
    .ico-file-wrap a {
        display: inline-block;
        padding: 0 0.5rem;
    }


    /* WEB*/

    /* ADMIN */
    .pull-right.user{
        float: none !important;
        text-align: center;
        margin: 1rem auto;
    }
    /* ADMIN */

    /* FORM REGISTER */
    .form-register-front .form-control{
        width: 100% !important;
    }
    .paquete-wrap #all-grades-wrap label {
        font-size: 7px;
    }
    .paquete-wrap > div h2 {
        font-size: 16px;
    }
    .paquete-wrap > div h3 {
        font-size: 13px;
        margin-top: 10px;
        padding-top: 0;
    }
    .paquete-wrap > div {
        display: block;
        padding: 8px;
        text-align: center;
        min-height: 160px;
        width: 100%;
        margin-bottom: 1rem;
    }
    .paquete-wrap > div .form-control {
        height: 28px;
        font-size: 8px;
    }

    /*boton de registro*/
    .btn-reg{
        background-color: #eaeaea;
        border-color: #eaeaea;
        color: #6b6b6b !important;
        margin-top: 35px;
        margin-left: 0px !important;
        text-decoration: none !important;
        border-radius: 4px;
        padding: 10px 18px;
        font-size: 2rem;
    }


}

/* Mobile Landscape */
@media only screen and (max-device-width : 736px) and (orientation: landscape){
    .form-login {
        width: 35%;
        right: 24%;
        top: 10%;
        transform: translate(24%,-10%);
        position: absolute;
        margin: auto;
    }
    .form-login input[type="email"],
    .form-login input[type="password"]{
        height: 28px;
        font-size: 8px;
    }
    .form-login .btn{
        font-size: 1.5rem;
        padding: 8px 18px;
    }
    .form-login label{
        font-size: 1.8rem;
    }
    .form-login a{
        font-size: 12px;
    }
}
/*Desktop*/
@media only screen and (min-device-width : 1024px){ /* STYLES GO HERE */ }

/*Laptop*/
@media only screen and (min-device-width : 1100px) and (max-device-width : 1280px){ /* STYLES GO HERE */ }
