/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 5/12/2016, 12:21:03 PM
    Author     : Usuario
*/

/* GENERALES */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Avenir Next LT Pro Regular";
}

.main-wrap {
    background-image: url("../images/bg-escolar.png");
    background-position: center;
    background-size: cover;
    height: 100%;
}

.navbar.navbar-interno {
    margin-bottom: 0;
}

.btn {
    border-radius: 4px;
}

.navbar-form .btn-default {
    background-color: #090909;
    border-color: #040404;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.dataTables_filter::after {
    content: "\f002";
    font-family: FontAwesome;
    margin-left: 1rem;
}

.file-disabled {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
}

.three-column {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    vertical-align: middle;
    display: inline-block;

}

.thumbnail > * {
    display: block;
    max-width: 100%;
    height: auto;
}


/* GENERALES */

/* HEADER */
.logo {
    background-image: url("../images/logo.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 22rem;
    height: 5.5rem;
    margin: 0.5rem 2rem;
    display: inline-block;
    vertical-align: middle;
}

.navbar-inverse {
    background-color: #EDEDED;
    border-color: transparent;
    border-bottom-color: black;
    border-top-color: black;
}

.navbar-collapse .avatar {
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.navbar-collapse .avatar img {
    height: 100%;
    text-align: center;
}

.navbar-inverse .navbar-brand {
    color: #000;
}

.navbar-inverse .navbar-right {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #000;
}

/* HEADER */

/* REGISTRO */
/*.bg-login{
    background-image: url("../images/bg-login-test.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 100%;
}*/

/*PAPÁ IMAGEN*/
.body-image {
    background-image: url("../images/bg-login-test.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    width: auto;
    height: 100%;
}

/*HIJO IMAGEN*/
.body-image img {
    position: relative;
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center center;
}

.bg-pass {
    background-image: url("../images/bg-pass.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 100%;
}

.box-form,
.box-default {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0;
    margin: 2rem auto;
    float: none;
}

.box-form input {
    margin-bottom: 10px;
}

.form-login {
    width: 21%;
    right: 40%;
    top: 58%;
    transform: translate(40%, -58%);
    position: absolute;
}

.form-pass {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26%;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
}

.form-login label,
.form-login .btn,
.form-pass label,
.form-pass .btn {
    font-size: 1.8rem;
    /*font-weight: 900;*/
    color: #fff;
}

.form-login .btn-login,
.form-pass .btn-login {
    font-size: 1.8rem;
}

.form-pass .btn-login {
    padding: 10px 30px;
}

.form-login a,
.form-pass a {
    color: #fff;
}

.form-login input[type='email'],
.form-login input[type='password'],
.form-pass input[type='email'],
.form-pass input[type='password'] {
    border-radius: 4px !important;
    height: 39px !important;
    font-size: 14px !important;
    width: 90%;
}

.form-pass input[type='email'].form-control {
    width: 76%;
}

.btn-wrap-login > * {
    display: inline-block;
    vertical-align: middle;
}

/* REGISTRO */

/* FORM REGISTER */
.m-right {
    margin-right: 1rem !important;
}

#backendbundle_user_grado label {
    margin-right: 1rem !important;
}

/* FORM REGISTER */

/* BUTTONS */
.btn-delete-user {
    cursor: pointer;
}

.btn-underline {
    text-decoration: underline;
}

.btn-login {
    background-color: #30CB70;
    border-color: #30CB70;
    color: white;
}

.btn-orange {
    background-color: #f97f06;
    border-color: #f97f06;
}

.btn-blue-light {
    background-color: #00c6c1;
    border-color: #00c6c1;
}

.btn-default {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active:hover {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

/* BUTTONS */

/* ADMIN */
.wrapper-contenido .btn {
    color: #fff;
}

.table thead {
    background-color: #ededed;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent;
}

.form-admin .btn {
    color: #fff;
}

.ico-actions .fa::before {
    margin: .5rem;
}

.ico-pencil,
.ico-trash,
.ico-multimedia{
    padding: 0.2rem;
}

.ico-pencil {
    border: 1px solid #96ee96;
}

.ico-trash {
    border: 1px solid red;
}

.ico-multimedia{
    border: 1px solid dodgerblue;
}

.btn-cancel {
    color: #e81c4f;
}

.btn-cancel:hover {
    color: #e81c4f;
}

/* ADMIN */

/* BTN ACCIONES  */
.fa.fa-pencil {
    color: #96ee96;
}

.fa.fa-trash {
    color: red;
}

.fa.fa-image {
    color: dodgerblue;
}

/* BTN ACCIONES  */

/* GRADES  */
.grade-wrap {
    background-image: url("../images/bg-check.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grade-wrap.disabled i {
    margin-bottom: 1rem;
}

.grade-wrap .ico-check {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
}

.grade-wrap a {
    text-decoration: none;
}

.grade-wrap h2,
.grade-wrap h4 {
    color: white;
    margin: 2rem auto;
    font-weight: 600;
}

.grade-wrap h2 {
    padding-top: 1rem;
}

.grade-wrap h4 {
    padding-bottom: 1rem;
}

.grade-wrap h4 a,
.grade-wrap h2 a {
    color: #fff;
}

.grade-wrap .fa-check-circle-o,
.grade-wrap .fa-times-circle-o {
    font-size: 5rem;
}

.grade-wrap .fa-check-circle-O {
    color: green
}

.grade-wrap .fa-download {
    color: green;
}

.grade-wrap.disabled {
    background-color: #6F6E6A;
}

.grade-wrap .file-disabled i {
    color: #474747;
}

.alert-date {
    background-color: #e6e7e8;
    color: #000;
}

/* GRADES  */

/* MAIN WEB */
.ico-file-wrap {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 6rem;
    margin-bottom: 2rem;
    color: rgba(14, 104, 104, 0.9);
}

.ico-file-wrap i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    vertical-align: middle;
    margin-right: 1rem;
}

.ico-file-wrap a {
    display: inline-block;
    margin: auto;
    text-align: center;
    color: rgba(14, 104, 104, 0.9);
    vertical-align: middle;
}

.ico-file-wrap p {
    text-align: left;
    color: #000;
}

#video-player {
    width: 100%;
}

.modal-body img,
.modal-body iframe {
    margin: auto;
}

.modal .modal-body {
    text-align: center;
}

.panel-default.blocks > .panel-heading {
    color: #fff;
    background-color: rgba(14, 104, 104, 0.9);
    background-image: url("../images/bg-block.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-color: transparent;
}

.ico-download {
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 2rem;
}

.blocks a {
    text-decoration: none;
    vertical-align: middle;
}

.title-alpha {
    font-weight: 600;
}

/* Icon when the collapsible content is shown */
.blocks .panel-heading .btn-row:after {
    font-family: "Glyphicons Halflings";
    content: "\e113";
}

/* Icon when the collapsible content is hidden */
.blocks .panel-heading .btn-row.collapsed:after {
    content: "\e114";
}

.modal .close {
    color: #00484b;
    font-size: 5rem;
    opacity: inherit;
}

.modal-header {
    border-bottom: transparent;
}

.text-aviso {
    color: #01484C;
    text-decoration: underline;
}

.ico {
    display: inline-block;
}

.ico-file {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
}

/* MAIN WEB */

/* ICOS */
.ico-check {
    width: 4.5rem;
    height: 5rem;
    margin: auto;
    background-image: url("../images/icos/ico-check.png");
}

.ico-download {
    width: 2rem;
    height: 2rem;
    background-image: url("../images/icos/ico-download.png");
}

.ico-download-alpha {
    width: 3rem;
    height: 3rem;
    background-image: url("../images/icos/ico-download-alpha.png");
    margin-right: 1.5rem;
}

.ico-word {
    background-image: url("../images/icos/ico-doc.png");
}

.ico-excel {
    background-image: url("../images/icos/ico-xls.png");
}

.ico-powerpoint {
    background-image: url("../images/icos/ico-ppt.png");
}

.ico-image {
    background-image: url("../images/icos/ico-image.png");
}

.ico-video {
    background-image: url("../images/icos/ico-video.png");
}

.ico-pdf {
    background-image: url("../images/icos/ico-pdf.png");
}

/* ICOS */

/* MENU MATERIAS */
ul.dropdown {
    border-bottom: 2px solid #dddddd;
    font-weight: bold;
    position: relative;
    z-index: 597;
    float: none;
    margin-bottom: 40px;
    background-color: #eee;
    width: 100%;
    text-align: center;
}

ul.dropdown li,
ul.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.dropdown li {
    float: none;
    min-height: 1px;
    line-height: 1.3em;
    vertical-align: middle;
    border: none;
    color: #000;
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    padding: 10px;
}

ul.dropdown li a {
    text-decoration: none;
    color: inherit;
}

ul.dropdown li:hover > a {
    color: #e81c4f;
}

ul.dropdown li:hover > a::before {
    content: "";
    width: 3.6rem;
    height: 1px;
    background-color: #e81c4f;
    display: block;
    position: absolute;
    bottom: 0.6rem;
}

ul.dropdown a:link,
ul.dropdown a:visited {
    text-decoration: none;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

ul.dropdown ul {
    width: 760px;
    margin-top: 0;
    border-top: solid 1px #ccc;
    background-color: #f9f9f9;
}

ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}

ul.dropdown ul li {
    font-weight: normal;
}

ul.dropdown-linear ul li {
    float: none;
}

ul.dropdown-linear ul li a {
    color: #808285;
    font-weight: 600;
}

/* MENU MATERIAS */

.two-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.two-column > * {
    display: inline-block;
    width: 100%;
}

/* FORM REGISTER PAYMENT */
.form-pass-control ul li {
    color: red;
    margin-top: 1rem;
}

.paquete-wrap > div {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #95989A;
    color: #000;
    border-radius: 10px;
    padding: 9px;
    text-align: center;
    margin-right: 1.5rem;
    min-height: 200px;
    width: 160px;
}

.paquete-wrap > div h3 {
    font-size: 22px;
    margin-top: -8px;
}

.paquete-wrap > div h2 {
    font-size: 27px;
}

.paquete-wrap > div .form-control {
    /*height: 33px;
    font-size: 14px;*/
    height: 33px;
    font-size: 10px !important;
    box-shadow: none;
    border: 1px solid #e6e6e6;
}

.paquete-wrap #all-grades-wrap label {
    font-size: 10px;
}

.paquete-wrap div:last-child {
    margin-right: 0;
}

.paquete-wrap #all-grades-wrap {
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    padding: 2px;
}

.paquete-wrap #all-grades-wrap label {
    font-weight: normal;
    color: #95989A !important;
}

/*estilos en paypal*/
.alert-info {
    background-color: #e6e7e8;
    border-color: #e6e7e8;
    color: black;
}

.paquete-wrap > div.pay-pal-wrap {
    width: auto !important;
}

/*ESTILO DE LOS PAQUETES*/
.package-hov:hover, .pack-active {
    background-color: #F2F2F2;
    color: black;
}

.paquete-wrap h3 {
    padding-top: 10px;
}

.form-selection {
    border-radius: 5px;
    border: #A5A5A5;
    color: #C6C6C6;
}

.form-selection:hover {
    color: black;
}

/*boton registrar*/
.register {
    color: #FFA515 !important;
    border-color: #FFA515 !important;
    background-color: white !important;
}

.register:hover {
    background-color: #FFA515 !important;
    color: white !important;
}

/*estilo recuadro de pago paypal*/
.box-payp {
    border: none;
    text-align: center;
}

/* errors jvalidate */
.j-validate .j-validate-field div label {
    color: red;
}

.error {
    color: red;
}

/*LETRAS DE FACTURACION*/
.little-text {
    font-size: 18px;
}

.marg {
    margin-bottom: 0;
}

/*boton de paypal*/
.pay-button {
    background-color: #fac83b;
    border-radius: 25px;
    border: none;
    color: #094794;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

.test {
    background-color: red;
    text-align: center;
}

/*color de checklist pagado*/
.fa-check-circle {
    color: #30CB70;
}

/*listas que no tienen los estilos*/
ul, ol {
    list-style: none;
}

/*division de dos columnas en pagado*/
.cols {
    columns: 2;
}

/*distancia entre el boton y texto en pagado*/
.mrgpage {
    margin-top: 50px;
}

/*estilo de url - pantalla cancelado*/
.cancelpay {
    color: black !important;
    text-decoration: underline;
}

.cancelpay:hover {
    color: #337ab7 !important;
}

/*boton de registro*/
.btn-reg {
    /*background-color: #eaeaea;
    border-color: #eaeaea;
    color: #6b6b6b !important;*/
    margin-left: 35px;

}

/*color letras paypal*/
.clr {
    color: #4a9ef7;
    font-size: 16px;
}

/*letras en rojo de campo obligatorio*/
.cmpob {
    color: red;
}

/*form control*/
.form-register-front .form-control {
    display: block !important;
    width: 80% !important;
    height: 39px !important;
    padding: 10px 5px !important;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    color: #333333 !important;
    background-color: #ffffff !important;
    background-image: none !important;
    border: 1px solid #cccccc !important;
    border-radius: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.paquete-wrap .form-control {
    width: 100% !important;
    color: #95989A !important;
    height: 41px !important;
}

/*LOGIN FORM*/
.box-form, .box-default {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 20px;
    padding-top: 0;
    margin: 2rem auto;
    float: none;
}

.box-form input {
    margin-bottom: 10px;
}

/* SEARCH COURSE*/
#result li {
    padding: 10px;
}

#result li:hover {
    background-color: #EDEDED;
}

#result li a {
    text-decoration: none;
}

/*DELETE IMGS*/
.img-close, .img-close-video {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
}
.img-close i, .img-close-video i {
    width: 26px;
    height: 29px;
    cursor: pointer;
    z-index: 8040;
    font-size: 30px;
    color: #006AE8;
    border-radius: 50%;
    -webkit-box-shadow: 5px 2px 8px -5px rgba(163,163,163,1);
    -moz-box-shadow: 5px 2px 8px -5px rgba(163,163,163,1);
    box-shadow: 5px 2px 8px -5px rgba(163,163,163,1);
}

#gallery-wrapper label{
    display: none;
}

#gallery-wrapper label.control-label{
    display: block;
}