{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Editar de Curso</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
            {{ form_start(edit_form) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Nombre del Curso:</label>
                {{form_widget(edit_form.curNombre)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Selecciona un Pais</label>
                <select class='form-control' name="pais" id="pais">
                    {#<option value="{{content.escuela.idCiudad.idPais.idPais}}"  selected="selected">{{content.escuela.idCiudad.idPais}}</option>#}
                    <option value="{{content.idEscuela.idCiudad.idPais.idPais}}"  selected="selected">{{content.idEscuela.idCiudad.idPais}}</option>
                    {% for pais in paises %}
                        <option value="{{pais.idPais}}">{{ pais.paisDesc }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Selecciona una Ciudad</label>
                <select class='form-control' name="ciudad" id='ciudad'>
                    <option value="{{content.idEscuela.idCiudad.idCiudad}}"  selected="selected">{{ content.idEscuela.idCiudad }}</option>
                    <option disabled>-Escoge una opcion-</option>
                </select>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Selecciona una Sede</label>
                <select class='form-control' name="escuela" id='escuela'>
                    <option value="{{content.idEscuela.idEscuela}}"  selected="selected">{{ content.idEscuela }}</option>
                    <option disabled>-Escoge una opcion-</option>
                </select>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Idioma:</label>
                {{form_widget(edit_form.idioma)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Descripción:</label>
                {{form_widget(edit_form.curDesc)}}
            </div>
            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Editar" />
            </div>
            {{ form_end(edit_form) }}

        </div>
        <div class="pull-right">
            <a class="btn-underline" href="{{ path('catcursos_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver al listado</a>
        </div>
    </div>
{% endblock %}