{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paiscontent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paisContent.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ paisContent.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ paisContent.body }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ paisContent.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paiscontent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paiscontent_edit', { 'id': paisContent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
