{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12'>
            <div class="wrapper-contenido">
                <h1 class="subtitle">Ciudades</h1>
                <hr>
                <a href="{{ path('catciudadesescuelas_new') }}" class='btn btn-orange m-xs-r-2'><i
                            class='fa fa-plus m-xs-r-1'></i>Create
                    a new ciudad</a>
                <hr>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th>Ciudaddesc</th>
                        <th>Ciudaddesclarga</th>
                        {#{#<th>Cd01</th>#}{#
                        #}{#<th>Cd02</th>#}
                        <th>Idpaisedo</th>
                        {#<th>Img Bandera</th>
                        <th>Img Modal</th>#}
                        {#<th>Cd05</th>#}
                        {#<th>Cd06</th>
                        <th>Cd07</th>
                        <th>Cd08</th>
                        <th>Cd09</th>
                        <th>Cd10</th>
                        <th>Cd11</th>
                        <th>Cd12</th>
                        <th>Cd13</th>
                        <th>Cd14</th>
                        <th>Cd15</th>
                        <th>Cd16</th>
                        <th>Cd17</th>#}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for catCiudadesEscuela in catCiudadesEscuelas %}
                        <tr>
                            <td>{{ catCiudadesEscuela.ciudadDesc }}</td>
                            <td>{{ catCiudadesEscuela.ciudadDescLarga|slice(0, 150) }}</td>
                            {#<td>{{ catCiudadesEscuela.cd01 }}</td>
                            <td>{% if catCiudadesEscuela.cd02 %}Yes{% else %}No{% endif %}</td>#}
                            <td>{% if catCiudadesEscuela.idPais != null %} {{ catCiudadesEscuela.idPais.paisDesc }} {% endif %}</td>
                            {#<td>{{ catCiudadesEscuela.imgBandera }}</td>
                            <td>{{ catCiudadesEscuela.imgModal }}</td>#}
                            {#<td>{{ catCiudadesEscuela.cd05 }}</td>
                            <td>{{ catCiudadesEscuela.cd06 }}</td>
                            <td>{{ catCiudadesEscuela.cd07 }}</td>
                            <td>{{ catCiudadesEscuela.cd08 }}</td>
                            <td>{{ catCiudadesEscuela.cd09 }}</td>
                            <td>{{ catCiudadesEscuela.cd10 }}</td>
                            <td>{{ catCiudadesEscuela.cd11 }}</td>
                            <td>{{ catCiudadesEscuela.cd12 }}</td>
                            <td>{% if catCiudadesEscuela.cd13 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catCiudadesEscuela.cd14 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catCiudadesEscuela.cd15 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catCiudadesEscuela.cd16 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catCiudadesEscuela.cd17 %}Yes{% else %}No{% endif %}</td>#}
                            <td class="text-center ico-actions">
                                <a href="{{ path('catciudadesescuelas_edit', {'idCiudad':catCiudadesEscuela.idCiudad}) }}"
                                   class="ico-pencil m-xs-r-1">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('catciudadesescuelas_delete', {'idCiudad':catCiudadesEscuela.idCiudad}) }}"
                                   class="ico-trash">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
