{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Alta de Ciudades</h2>
            <hr/>
            {% for message in app.session.flashBag().get('status') %}
                <div class='alert alert-danger alert-dismissible' role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class='form-group text-center' id="btn-action-wrap">
                    <input type="submit" class="btn btn-blue-light" value="Guardar"/>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="pull-right user">
                <a class="btn-underline" href="{{ path('catciudadesescuelas_index') }}"><i
                            class='fa fa-arrow-left m-xs-r-1'></i>Volver
                    al listado</a>
            </div>
        </div>
    </div>
{% endblock %}
