{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catciudadesescuela</h1>

    <table>
        <tbody>
            <tr>
                <th>Idciudad</th>
                <td>{{ catCiudadesEscuela.idCiudad }}</td>
            </tr>
            <tr>
                <th>Ciudaddesc</th>
                <td>{{ catCiudadesEscuela.ciudadDesc }}</td>
            </tr>
            <tr>
                <th>Ciudaddesclarga</th>
                <td>{{ catCiudadesEscuela.ciudadDescLarga }}</td>
            </tr>
            <tr>
                <th>Cd01</th>
                <td>{{ catCiudadesEscuela.cd01 }}</td>
            </tr>
            <tr>
                <th>Cd02</th>
                <td>{% if catCiudadesEscuela.cd02 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Idpaisedo</th>
                <td>{{ catCiudadesEscuela.idPaisEdo }}</td>
            </tr>
            <tr>
                <th>Idestadoedo</th>
                <td>{{ catCiudadesEscuela.idEstadoEdo }}</td>
            </tr>
            <tr>
                <th>Cd05</th>
                <td>{{ catCiudadesEscuela.cd05 }}</td>
            </tr>
            <tr>
                <th>Cd06</th>
                <td>{{ catCiudadesEscuela.cd06 }}</td>
            </tr>
            <tr>
                <th>Cd07</th>
                <td>{{ catCiudadesEscuela.cd07 }}</td>
            </tr>
            <tr>
                <th>Cd08</th>
                <td>{{ catCiudadesEscuela.cd08 }}</td>
            </tr>
            <tr>
                <th>Cd09</th>
                <td>{{ catCiudadesEscuela.cd09 }}</td>
            </tr>
            <tr>
                <th>Cd10</th>
                <td>{{ catCiudadesEscuela.cd10 }}</td>
            </tr>
            <tr>
                <th>Cd11</th>
                <td>{{ catCiudadesEscuela.cd11 }}</td>
            </tr>
            <tr>
                <th>Cd12</th>
                <td>{{ catCiudadesEscuela.cd12 }}</td>
            </tr>
            <tr>
                <th>Cd13</th>
                <td>{% if catCiudadesEscuela.cd13 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cd14</th>
                <td>{% if catCiudadesEscuela.cd14 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cd15</th>
                <td>{% if catCiudadesEscuela.cd15 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cd16</th>
                <td>{% if catCiudadesEscuela.cd16 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cd17</th>
                <td>{% if catCiudadesEscuela.cd17 %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catciudadesescuelas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catciudadesescuelas_edit', { 'idCiudad': catCiudadesEscuela.idCiudad }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
