{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12'>
            <div class="wrapper-contenido">
                <h1 class="subtitle">Usuarios</h1>
                <hr>
                <a href="{{ path('users_new') }}" class='btn btn-orange m-xs-r-2'><i class='fa fa-plus m-xs-r-1'></i>Create
                    a new user</a>
                <hr>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class='col-xs-12'>
            <div class='table-responsive'>
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Apterno</th>
                        <th>Amaterno</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.aPterno }}</td>
                            <td>{{ user.aMaterno }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.status %}Yes{% else %}No{% endif %}</td>
                            <td>{{ user.role }}</td>
                            <td class="text-center ico-actions">
                                <a href="{{ path('users_edit', {'id':user.id}) }}" class="ico-pencil m-xs-r-1">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('users_delete', {'id':user.id}) }}" class="ico-trash">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
