{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <div class="col-lg-4 box-form">
        <h2>Identificarse</h2>
        <hr/>

        {% if error %}
            <div class="alert alert-danger"> Credenciales no validas </div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="POST">
            <label>Email</label>
            <input type="email" id="username" name="_username" value="{{ lastUsername }}" class="form-control" required/>
            <label>Contraseña</label>
            <input type="password" id="password" name="_password" class="form-control" required/>

            <input type="submit" value="Entrar"  class="btn btn-success" />
            <input type="hidden" name="_target_path" value="/admin/idiomas" />
        </form>
    </div>


{% endblock %}