{% extends 'base.html.twig' %}

{% block body %}
    <h1>Idiomacontent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ idiomaContent.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ idiomaContent.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ idiomaContent.body }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('idiomacontent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('idiomacontent_edit', { 'id': idiomaContent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
