{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Editar Sub Objetivo</h2>
            <hr/>
            {% for message in app.session.flashBag().get('status') %}
                <div class='alert alert-danger alert-dismissible' role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6 col-md-offset-3">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="form-group text-center">
                {% if content.imgModal != null and content.imgModal != 'NULL' %}
                    <a href="{{ asset("uploads/popups/subobjetivos/"~content.imgModal) }}" target="_blank">Ver archivo Modal</a>
                {% endif %}
            </div>
            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Editar"/>
            </div>
            {{ form_end(edit_form) }}
        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('subobjetivos_index') }}"><i
                        class='fa fa-arrow-left m-xs-r-1'></i>Volver
                al
                listado</a>
        </div>
    </div>
{% endblock %}