{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subobjetivo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subObjetivo.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ subObjetivo.name }}</td>
            </tr>
            <tr>
                <th>Desclarga</th>
                <td>{{ subObjetivo.descLarga }}</td>
            </tr>
            <tr>
                <th>Imgmodal</th>
                <td>{{ subObjetivo.imgModal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subobjetivos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('subobjetivos_edit', { 'id': subObjetivo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
