{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12'>
            <div class="wrapper-contenido">
                <h1 class="subtitle">Contenido de Escuelas</h1>
                <hr>
                <a href="{{ path('esscuelas_content_new') }}" class='btn btn-orange m-xs-r-2'><i
                            class='fa fa-plus m-xs-r-1'></i>Create
                    a new content</a>
                <hr>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th>Pais</th>
                        <th>Ciudad</th>
                        <th>Escuela</th>
                        <th>Bloque 1 Escuela</th>
                        <th>Bloque 2 Escuela</th>
                        <th>Bloque 3 Escuela</th>
                        <th>Bloque 1 Ingles General</th>
                        <th>Bloque 2 Ingles General</th>
                        <th>Bloque 3 Ingles General</th>
                        <th>Bloque 1 Tramites</th>
                        <th>Bloque 2 Tramites</th>
                        <th>Bloque 3 Tramites</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for content in escuelas_content %}
                        <tr>
                            <td>{{ content.escuela.idCiudad.idPais }}</td>
                            <td>{{ content.escuela.idCiudad }}</td>
                            <td>{{ content.escuela }}</td>
                            <td>{{ content.bloque1BodyEscuela }}</td>
                            <td>{{ content.bloque2BodyEscuela }}</td>
                            <td>{{ content.bloque3BodyEscuela }}</td>
                            <td>{{ content.bloque1BodyInglesGeneral }}</td>
                            <td>{{ content.bloque2BodyInglesGeneral }}</td>
                            <td>{{ content.bloque3BodyInglesGeneral }}</td>
                            <td>{{ content.bloque1BodyTramite }}</td>
                            <td>{{ content.bloque2BodyTramite }}</td>
                            <td>{{ content.bloque3BodyTramite }}</td>
                            <td class="text-center ico-actions">
                                <a href="{{ path('esscuelas_content_edit', {'id':content.id}) }}" class="ico-pencil m-xs-r-1">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{#{{ path('catescuelas_delete', {'idEscuela':catEscuela.idEscuela}) }}#}" class="ico-trash">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
