{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Alta de Contenido de Escuelas</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
            {{ form_start(form) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Selecciona un Pais</label>
                <select class='form-control' name="pais" id="pais">
                    <option disabled selected="selected">-Escoge una opcion-</option>
                    {% for pais in paises %}
                        <option value="{{pais.idPais}}">{{ pais.paisDesc }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Selecciona una Ciudad</label>
                <select class='form-control' name="ciudad" id='ciudad'>
                    <option disabled selected="selected">-Escoge una opcion-</option>
                </select>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Selecciona un Escuela</label>
                <select class='form-control' name="escuela" id='escuela'>
                    <option disabled selected="selected">-Escoge una opcion-</option>
                </select>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 1 Escuela:</label>
                {{form_widget(form.bloque1BodyEscuela)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 2 Escuela:</label>
                {{form_widget(form.bloque2BodyEscuela)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 3 Escuela:</label>
                {{form_widget(form.bloque3BodyEscuela)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 1 Ingles General:</label>
                {{form_widget(form.bloque1BodyInglesGeneral)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 2 Ingles General:</label>
                {{form_widget(form.bloque2BodyInglesGeneral)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 3 Ingles General:</label>
                {{form_widget(form.bloque3BodyInglesGeneral)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 1 Tramite:</label>
                {{form_widget(form.bloque1BodyTramite)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='form-label'>Bloque 2 Tramite:</label>
                {{form_widget(form.bloque2BodyTramite)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 3 Tramite:</label>
                {{form_widget(form.bloque3BodyTramite)}}
            </div>
            <div class='form-group text-center {#file-disabled#}' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Guardar" />
            </div>
            {{ form_end(form) }}

        </div>
        <div class="pull-right user">
            <a class="btn-underline" href="{{ path('esscuelas_content_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver al listado</a>
        </div>
    </div>
{% endblock %}