{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class='col-xs-12 text-center'>
            <h2>Editar de Contenido del Curso</h2>
            <hr/>
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
            {{ form_start(edit_form) }}
            <div class='form-group col-md-12'>
                <label class='control-label'>Buscar por curso &nbsp; <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input type="text" class="form-control" placeholder="Buscar un curso..." name="search" id="search">
                <ul id="result" class="list-unstyled">
                </ul>
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Curso</label>
                <input type="text" class="form-control" name="curso" id="curso-dinamico" value="{{ content.curso }}">
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque Descripción:</label>
                {{form_widget(edit_form.bloqueDescripcion)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque Requisitos:</label>
                {{form_widget(edit_form.bloqueRequisitos)}}
            </div>
            <div class='form-group col-md-12'>
                <label class='control-label'>Bloque 3 Caracteristicas:</label>
                {{form_widget(edit_form.bloqueCaracteristicas)}}
            </div>

            <div class='form-group text-center' id="btn-action-wrap">
                <input type="submit" class="btn btn-blue-light" value="Editar" />
            </div>
            {{ form_end(edit_form) }}

        </div>
        <div class="pull-right">
            <a class="btn-underline" href="{{ path('cursocontent_index') }}"><i class='fa fa-arrow-left m-xs-r-1'></i>Volver al listado</a>
        </div>
    </div>
{% endblock %}