{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper-contenido">
                <h1 class="subtitle">Contenido de Cursos</h1>
                <hr>
                <a href="{{ path('cursocontent_new') }}" class='btn btn-orange m-xs-r-2'><i
                            class='fa fa-plus m-xs-r-1'></i>Create
                    a new content</a>
                <hr>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissable alert-js" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre Curso</th>
                        <th>Escuela</th>
                        <th>Sede</th>
                        {#<th>Bloque descripcion</th>
                        <th>Bloque requisitos</th>
                        <th>Bloque caracteristicas</th>#}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cursoContent in cursoContents %}
                        <tr>
                            <td>{{ cursoContent.id }}</td>
                            <td> {% if cursoContent.curso != null %} {{ cursoContent.curso.curNombre }} {% endif %}</td>
                            <td>{{ cursoContent.escuela }}</td>
                            <td> {% if cursoContent.escuela != null %} }{{ cursoContent.escuela.idCiudad }} {% endif %}</td>
                            {#<td>{{ cursoContent.bloqueDescripcion }}</td>
                            <td>{{ cursoContent.bloqueRequisitos }}</td>
                            <td>{{ cursoContent.bloqueCaracteristicas }}</td>#}
                            <td class="text-center ico-actions">
                                <a href="{{ path('cursocontent_edit', {'id':cursoContent.id}) }}"
                                   class="ico-pencil m-xs-r-1">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('cursocontent_delete', {'id':cursoContent.id}) }}" class="ico-trash">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
