{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cursocontent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cursoContent.id }}</td>
            </tr>
            <tr>
                <th>Bloquedescripcion</th>
                <td>{{ cursoContent.bloqueDescripcion }}</td>
            </tr>
            <tr>
                <th>Bloquerequisitos</th>
                <td>{{ cursoContent.bloqueRequisitos }}</td>
            </tr>
            <tr>
                <th>Bloquecaracteristicas</th>
                <td>{{ cursoContent.bloqueCaracteristicas }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cursocontent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cursocontent_edit', { 'id': cursoContent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
